.main-content-left
  .post-loop.search-loop
    .ribbon-shadow-left  
    .section-wrapper
      .section
        Survey
    .ribbon-shadow-right  
    .section-arrow  
    - if @news.blank?
      No Polls Yet
    -@news.each do |news|
      = render :partial => "news", :object => news
.sidebar
  = render "experimental/partials/login_box"
  = render "experimental/partials/left_bar"