%br.hide-responsive/
.main-content-left
  .post-loop.search-loop
    .ribbon-shadow-left
    .section-wrapper
      .section-header Survey
    .section-arrow
    - if @news.blank?
      %h3
        No Recent News Yet
    -@news.each do |news|
      = render :partial => "news", :object => news
    = paginate @news

.sidebar
  = render "experimental/partials/login_box"
  = render "experimental/partials/left_bar"

