/ %li.questions
/ 	= link_to t("activerecord.models.questions"), follows_user_path(@user, params.merge(:sort=>"questions")),:id=>"question-tab", :rel => "nofollow", :class => "pjax", :"data-layout" => "user"
/ %li.answers
/ 	= link_to t("activerecord.models.answers"), follows_user_path(@user, params.merge(:sort=>"answers")), :rel => "nofollow", :id=>"answer-tab",:class => "pjax", :"data-layout" => "user"
/ %li.following
/ 	= link_to t("global.following"), follows_user_path(@user, params.merge(:sort=>"following")), :rel => "nofollow",:id=>"following-tab", :class => "pjax", :"data-layout" => "user"
/ %li.followers
/ 	= link_to t("users.show.followers"), follows_user_path(@user, params.merge(:sort=>"followers")),:id=>"followers-tab", :rel => "nofollow", :class => "pjax", :"data-layout" => "user"
%li#activity-filter-select.last
	%label{:for => "activity-filter-by"} Show:
	%select#activity-filter-by
		%option{:value => "-1"} Questions
		%option{:value => "activity_update"} Answers
		%option{:value => "new_blog_post"} Following
		%option{:value => "new_blog_comment"} Followers