#featured-wrapper.full
	#featured
		%a{:href => "single-review-numbers.html"}
			%img{:alt => "restaurants6", :height => "550", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants6-1000x550.jpg", :title => "#div1", :width => "1000"}/
		%a{:href => "single-review-numbers.html"}
			%img{:alt => "movies1", :height => "550", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies1-1000x550.jpg", :title => "#div2", :width => "1000"}/
		%a{:href => "single-review-numbers.html"}
			%img{:alt => "music2", :height => "550", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/music2-1000x550.jpg", :title => "#div3", :width => "1000"}/
	#div1.nivo-html-caption
		%a.video{:href => "single-review-numbers.html"}  
		.category
			.ribbon-shadow-left  
			.icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png) no-repeat 0px 0px;"}  
			.catname
				Restaurant Review
			.category-arrow  
		.title
			%h1
				%a.bebas{:href => "single-review-numbers.html"} Sugar Rush: Banana Stracciatella Gelato from Eataly
		.rating-wrapper
			.stars.yellow
				.star.full  
				.star.full  
				.star.half  
				.star  
				.star  
		%br.clearer/
	#div2.nivo-html-caption
		%a.video{:href => "single-review-numbers.html"}  
		.category
			.ribbon-shadow-left  
			.icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-dark.png) no-repeat 0px 0px;"}  
			.catname
				Movie Review
			.category-arrow  
		.title
			%h1
				%a.bebas{:href => "single-review-numbers.html"} Seeking A Friend For The End Of The World
		.rating-wrapper
			.number.color1 15%
		%br.clearer/
	#div3.nivo-html-caption
		%a.video{:href => "single-review-numbers.html"}  
		.category
			.ribbon-shadow-left  
			.icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-dark.png) no-repeat 0px 0px;"}  
			.catname
				Music Review
			.category-arrow  
		.title
			%h1
				%a.bebas{:href => "single-review-numbers.html"} The Lumineers – The Lumineers
		.rating-wrapper
			.number.color5 8.6
		%br.clearer/