- @bagdeData = "<table><tbody>"
-@badges.each do |badge| 
	-@bagdeData << "<tr><td><div class=badge_item><a class=badge>#{badge}</a></div></td><td><div class=badge_description>#{badge}</div></td></tr>"
-@bagdeData+="</tbody></table>"	
= raw "'#{@bagdeData}'"
