.clearer.hide-responsive  
%br.hide-responsive/
.main-content
  / full slider from here
  = render "fullslider"
  %br.clearer/
  / spotlight starts from here
  = render "spotlight"
  .clearer
  %br.clearer/
  / tabs starts from here
  = render "tabs_short"
  .clearer.hide-responsive
  %br.clearer/
  / trending starts from here
  = render "trending_short"
  .clearer.hide-responsive
  %br.clearer/