.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
  .page-content.review.single-post
	%link{:href => "../experimental/images/misc1-160x160.jpg", :rel => "image_src"}/
	.review-content
	  .ribbon-shadow-left  
	  .section-wrapper
		/ full article header
		.section-header
		  %b Profile
	  