- content_for :title do
  Terms of Use

= image_tag "plus/body_about.jpg", :class => "body_header"
.alpha.grid_19.body_about{:id => "firstElement"}
  %span{:class => "p_a"}
    Terms of Use
  %span{:class => "p_a1 i3__news1"}
    = link_to "Home", "/"
    > Terms of Use
  %h2
    Terms of Use
  %div{:class => "about"}
    = @tos.static_content.html_safe rescue ""
.grid_5.omega.body1_about{:id => "secondElement", :style => "height: 622px !important;"}
  %p{:class => "about"}
    %strong
      About Plus
  = render :partial => "shared/about_nav_bar"
