
-ConstrainsConfig::CONSTRAINS.each do |key, value|
  - value = @group.reputation_constrains[key]
  .form-row.row-fluid
    - name = "group[reputation_constrains[#{key}]]"
    .span12
      .row-fluid
        = label_tag name, Group.humanize_reputation_constrain(key), :class => "form-label span3"
        = text_field_tag name, value, :class => "span3 text counter-steper"
