#subnav.item-list-tabs.no-ajax{:role => "navigation"}
	%ul
		%li#activity-filter-select.last
			%label{:for => "activity-filter-by"} Show:
			%select#activity-filter-by
				%option{:value => "all"} All
				%option{:value => "questions"} Questions
				%option{:value => "answers"} Answers
				%option{:value => "users"} Users
				%option{:value => "pages"} Pages

:javascript
	
	jQuery(document).ready(function(jQ){

		jQ("#activity-filter-by").on('change',function(){
			valueTaker= jQuery("#activity-filter-by").val();
			jQuery("ul li.selected div.loader").addClass("ajax-loader");
			jQuery.ajax({     
				url:'/users/#{@user.id}/activity',
				data: { tab: valueTaker},
				dataType:"script",				
				success:function(successObject){
					jQuery(".loader").removeClass("ajax-loader");
				}
			});
		})

		jQ('#pagination-digg  a').live('click',function(e){
			e.preventDefault();
			jQuery.ajax({url:jQ(this).attr('href'),dataType:"script"})
		})
	})