#subnav.item-list-tabs.no-ajax{:role => "navigation"}
	%ul
		%li#activity-filter-select.last
			%label{:for => "activity-filter-by"} Show:
			%select#activity-filter-by
				%option{:value => "-1"} All
				%option{:value => "activity_update"} Questions
				%option{:value => "new_blog_post"} Answers
				%option{:value => "new_blog_comment"} Users
				%option{:value => "new_blog_comment"} Pages