%ul{:id => "slider21", :style => "position: relative;"}
	%li{:class => "pager ps1"}
		%ul
			-if @activities.blank?
				= render "shared/empty", :type => "activities", :url => ""
			-else
				- @activities.each do |activity|
					= render "activities/activity", :activity => activity
-@paginator = @activities
= render :partial =>"pagination/pagination"
