%li.account_details
	= link_to "Account Details", "javascript:void(0)", :rel => "nofollow", :class => "pjax", :"data-layout" => "index", :id=>"acc-details"
%li.account_settings
	= link_to "Account Settings", "javascript:void(0)", :rel => "nofollow", :class => "pjax", :"data-layout" => "index", :id=>"acc_settings"
%li.email_settings
	= link_to "Email Settings", "javascript:void(0)", :rel => "nofollow", :class => "pjax", :"data-layout" => "answers", :id=>"email"

%li#activity-filter-select.last
	%label{:for => "activity-filter-by"} Show:
	%select#activity-filter-by
		%option{:value => "-1"} Account Details
		%option{:value => "activity_update"} Account Settings
		%option{:value => "new_blog_post"} Email Settings
		

:javascript
	jQuery("#acc-details").click(function(){
		jQuery("#all_checks").hide();
		jQuery("#password_settings").hide();
		jQuery("#details_page").show();

	});
	jQuery("#acc_settings").click(function(){
		jQuery("#all_checks").show();
		jQuery("#details_page").hide();
		jQuery("#password_settings").hide();	  
	});
	jQuery("#email").click(function(){
		jQuery("#all_checks").hide();
		jQuery("#details_page").hide();
		jQuery("#password_settings").show();	 
	});