/ %li
/ 	= link_to "News",news_index_path
/ %li
/ 	= link_to "Questions" ,questions_path
/ %li
/ 	%a{:href => "/answers",:title=>"Answers",:alt=>"Answers"} Answers
- if change_lower_tab

	%li.dashboard
		%a{:href => dashboard_experimental_index_path,:title=>"Dashboard",:alt=>"Dashboard"} Dashboard
	%li.profile
		%a{:href => profile_experimental_index_path,:title=>"Dashboard",:alt=>"Dashboard"} Profile
/ - else

/ 	%li.public_about
/ 		%a{:href => public_about_experimental_index_path,:title=>"About BE",:alt=>"About BE"} About BE
/ 	%li.terms
/ 		%a{:href => "/terms",:title=>"Terms of Use",:alt=>"Terms of Use"} Terms of Use
/ %li
/ 	= link_to "Announcements",announcements_path
%li.public_privacy
	%a{:href => "/privacy/policy",:title=>"privacy-policy",:alt=>"privacy-policy"} Privacy Policy
%li.terms
	%a{:href => terms_experimental_index_path,:title=>"Terms of Use",:alt=>"Terms of Use"} Terms of Use
/ %li.badges
/ 	%a{:href => "/badges",:title=>"Badges",:alt=>"Badges"} Badges
/ %li.polls
/ 	%a{:href => "/polls",:title=>"Polls",:alt=>"Polls"} Polls
/ %li
/ 	%a{:href => "/survey",:title=>"Survey",:alt=>"Survey"} Surveys



