%li
	%a{:href => "/tags/disclosure"} Disclosure
%li
	%a{:href => "/tags/drugs"} Drugs

%li
	%a{:href => "/tags/first_diagnosis"} First Diagnosis

%li
	%a{:href => "/tags/maintaining_treatment"} Maintaining Treatment

%li
	%a{:href => "/tags/relationships"} Relationships

%li
	%a{:href => "/tags/sex"} Sex

%li
	%a{:href => "/tags/starting_medication"} Starting Medication

%li
	%a{:href => "/tags/starting_treatment"} Starting Treatment

%li
	%a{:href => "/tags/travel"} Travel

%li
	%a{:href => "/tags/well_being"} Well-being

%li
	%a{:href => "/tags/work"} Work
	