%li
	%a{:href => "/tags/disclosure"} Disclosure
%li
	%a{:href => "#"} Drugs

%li
	%a{:href => "#"} First Diagnosis

%li
	%a{:href => "#"} Maintaining Treatment

%li
	%a{:href => "#"} Relationships

%li
	%a{:href => "#"} Sex

%li
	%a{:href => "#"} Starting Medication

%li
	%a{:href => "#"} Starting Treatment

%li
	%a{:href => "#"} Travel

%li
	%a{:href => "#"} Well-being

%li
	%a{:href => "#"} Work
	