%li
	%a{:href => "/tags/Disclosure"} Disclosure
%li
	%a{:href => "/tags/drugs"} Drugs

%li
	%a{:href => "/tags/first-diagnosis"} First Diagnosis

%li
	%a{:href => "/tags/maintaining-treatment"} Maintaining Treatment

%li
	%a{:href => "/tags/relationships"} Relationships

%li
	%a{:href => "/tags/sex"} Sex

%li
	%a{:href => "/tags/starting-medication"} Starting Medication

%li
	%a{:href => "/tags/starting-treatment"} Starting Treatment

%li
	%a{:href => "/tags/travel"} Travel

%li
	%a{:href => "/tags/well-being"} Well-being

%li
	%a{:href => "/tags/work"} Work
	