%li
	%a{:href => "/services-map/singapore",:title=>"Singapore",:alt=>"Singapore"} Singapore
%li
	%a{:href => "/services-map/thailand",:title=>"Thailand",:alt=>"Thailand"} Thailand 
%li
	%a{:href => "/services-map/indonesia",:title=>"Indonesia",:alt=>"Indonesia"} Indonesia
%li
	%a{:href => "/services-map/malaysia",:title=>"Malaysia",:alt=>"Malaysia"} Malaysia
%li
	%a{:href => "/services-map/philippines",:title=>"Philippines",:alt=>"Philippines"} Philippines

