%li
	%a{:href => "single-review-numbers.html",:title=>"Terms of Use",:alt=>"Terms of Use"} Singapore
%li
	%a{:href => "/privacy-policy",:title=>"privacy-policy",:alt=>"privacy-policy"} Thailand 
%li
	%a{:href => "single-review-percentages.html",:title=>"Badges",:alt=>"Badges"} Indonesia
%li
	%a{:href => "single-review-stars.html",:title=>"Polls",:alt=>"Polls"} Indonesia
%li
	%a{:href => "single-review-letters.html",:title=>"Survey",:alt=>"Survey"} philippines

