%ul{:class => "sp_bg"}
  %li
    = link_to "Terms of use", "/terms-of-service"
%p{:class => "about1"}
  %strong
    Follow Us
  .soc_icon1
    = link_to image_tag("plus/twitter1.png"), "http://www.twitter.com", :target => "blank"
    = link_to image_tag("plus/facebook1.png"), "http://www.facebook.com", :target => "blank"