.module.clearfix.widget.block
  %h3
    Navigation

  %aside
    .markdown
      %ul.list
        %li.item
          = link_to "Home", "/"
        %li.item
          = link_to "FAQ", "#"
        %li.item
          = link_to "News", news_index_path
        %li.item
          = link_to "Polls", polls_path
