<!-- GTranslate: http://gtranslate.net/ -->
<style type="text/css">
<!--
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
.goog-te-gadget img {display:none !important}
.goog-te-gadget-simple {padding-bottom:0px !important; padding-top:0px !important;border: 1px solid #E6E6E6 !important; background-image: linear-gradient(#FFFFFF, #F0F0F0 75%, #EBEBEB) !important;font-family: Helvetica,Arial,sans-serif !important;line-height: 25px !important;}
.goog-te-gadget-simple a {color: #404040 !important; padding:0px !important;background: none !important}
body {top:0 !important;}
-->
</style>
<div id="google_translate_element"></div>
<script type="text/javascript">
function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE,autoDisplay: false, includedLanguages: 'zh-CN,zh-TW,en,tl,hi,id,ja,ko,ms,ta,te,th,vi'}, 'google_translate_element');}
</script><script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>