- content_for :title do
  EULA

= image_tag "plus/body_about.jpg", :class => "body_header"
.alpha.grid_19.body_about
  %span{:class => "p_a"}
    EULA
  %span{:class => "p_a1"}
    = link_to "Home", "/"
    > EULA
  %h2
    EULA
  %div{:class => "about"}
    = @eula.static_content.html_safe rescue ""
.grid_5.omega.body1_about
  %p{:class => "about"}
    %strong
      About Plus
  = render :partial => "shared/about_nav_bar"
  