%hr#hr-shades-end/
%ul.show-comments
	- @answer.comments.each do |comments|
		%li.comments-body#set-margin.set-comments
			%a
				- if comments.user.use_gravatar?
					=link_to image_tag avatar_user_path(comments.user),:size=>'30x30'
				- else
					%img.avatar.user-1227-avatar.avatar-50.photo{:height => "30", :src => "#{local_path_experimental}member.jpeg", :width => "30"}/
			.set-comments-show
				.by-user
					=comments.user.login.capitalize
					="-"
				= comments.body	
		