- if params[:queryData]
	-className = ((params[:queryData]=="all")? "" : params[:queryData])
	%table
		%tbody
		- @badges.sort_by{|b| b.name}.each do |badge|
			%tr
				-if badge.type == className  || className.blank?
					%td
						.badge_item
							=link_to badge.name,"#",:class=>"badge #{badge.type}"
					%td
						.badge_description
							= badge.description
- else 
	- if params[:badge_search].present?
		%table
			%tbody
			- if @badges.present?
				- @badges.sort_by{|b| b.name}.each do |badge|
					%tr
						%td
							.badge_item
								=link_to badge.name,"#",:class=>"badge #{badge.type}"
						%td
							.badge_description
								= badge.description
			- else
				#message.info
					%p Sorry, there was no badge found. Please try a different filter.
	- else
		#message.info
			%p Please Enter the Field and try Again.
