.unwrapped
  %a{:href => "http://themeforest.net/?ref=IndustrialThemes"}
    %img{:alt => "ad", :height => "250", :src => "http://demos.brianmcculloh.com/swagger/files/2011/10/sample-ad-2.png", :width => "300"}/