/ %h2 Columns
.one_half
	%h6 About Plus, Living positively, together
	.dropcap.prociono 1
	%p 
		PLUS+ aims to enhance connections between gay, bisexual man and transgender people living with HIV so that we can help each other and understand that we are not alone. 
		%a{:href => "/about"} Learn More
.one_half.last
	%h6 Bring your community to PLUS+
	.dropcap.prociono 2
	%p 
		Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. Lorem ipsum dolor sit amet.Quisque aliquam.
		%a{:href => "/features"} Learn More
%br.clearer/