.post-panel.wide
  .header
    .more
      %a{:href => "single-review-numbers.html"} More
    %h2{:style => "background:url(/assets/experimental/images/review-product-dark.png) no-repeat 0px 0px;"} Country
    .arrow-catpanel-bottom  
  - get_country_name(@service_providers).each do |provider|
    = link_to "#{provider}",country_services_map_path(provider.downcase),:style=>"color:#262626",:class=>"title"


  / %a.title.alt{:href => "single-review-numbers.html", :style => "color:#262626"} Philippines
  / %a.title{:href => "single-review-numbers.html", :style => "color:#262626"} Malaysia
  / %a.title.alt{:href => "single-review-numbers.html", :style => "color:#262626"} Indonesia
  / %a.title{:href => "single-review-numbers.html", :style => "color:#262626"} Andorra
  / %a.title.alt{:href => "single-review-numbers.html", :style => "color:#262626"} Angola
  / %a.title{:href => "single-review-numbers.html", :style => "color:#262626"} Anguilla
  / %a.title.alt.last{:href => "single-review-numbers.html", :style => "color:#262626"} Antarctica