.post-panel.right
  .header
    .more
      %a{:href => "single-review-numbers.html"} More
    %h2{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-product-dark.png) no-repeat 0px 0px;"} Country
    .arrow-catpanel-bottom  
  %a.title.first{:href => "single-review-numbers.html", :style => "color:#262626"} Afghanistan
  %a.title.alt{:href => "single-review-numbers.html", :style => "color:#262626"} Albania
  %a.title{:href => "single-review-numbers.html", :style => "color:#262626"} Algeri
  %a.title.alt{:href => "single-review-numbers.html", :style => "color:#262626"} American Samoa
  %a.title{:href => "single-review-numbers.html", :style => "color:#262626"} Andorra
  %a.title.alt{:href => "single-review-numbers.html", :style => "color:#262626"} Angola
  %a.title{:href => "single-review-numbers.html", :style => "color:#262626"} Anguilla
  %a.title.alt.last{:href => "single-review-numbers.html", :style => "color:#262626"} Antarctica