/ question drop starts
%li
	%a{:href => "/questions"} Questions
	%ul
		%li
			%a{:href => "/tags/disclosure"} Disclosure
			%ul
				%li
					%a{:href => "/tags/casual-partners"} Casual Partners
				%li
					%a{:href => "/tags/family"} Family
				%li
					%a{:href => "/tags/friends"} Friends
				%li
					%a{:href => "/tags/regular_partners"} Regular Partners
		%li
			%a{:href => "/tags/drugs"} Drugs
			%ul
				%li
					%a{:href => "/tags/partying"} Partying
				%li
					%a{:href => "/tags/sex"} Sex
		%li
			%a{:href => "/tags/first-diagnosis"} First Diagnosis
			%ul
				%li
					%a{:href => "/tags/situation"} Situation
		%li
			%a{:href => "/tags/maintaining-treatment"} Maintaining Treatment
			%ul
				%li
					%a{:href => "/tags/compliance"} Compliance
				%li
					%a{:href => "/tags/regular_access_to_medication"} Regular Access to Medication
		%li
			%a{:href => "/tags/relationships"} Relationships
			%ul
				%li
					%a{:href => "/tags/dating"} Dating
				%li
					%a{:href => "/tags/family"} Family
				%li
					%a{:href => "/tags/friends"} Friends
		%li
			%a{:href => "/tags/sex"} Sex
			%ul
				%li
					%a{:href => "/tags/minimizing-risk"} Minimising-risk
				%li
					%a{:href => "/tags/safer_sex"} Safer Sex
		%li
			%a{:href => "/tags/starting-medication"} Starting Medication
			%ul
				%li
					%a{:href => "/tags/accessing_medication"} Accessing Medication
				%li
					%a{:href => "/tags/cost"} Cost
				%li
					%a{:href => "/tags/selecting_medication"} Selecting Medication
				%li
					%a{:href => "/tags/side_effects"} Side Effects
		%li
			%a{:href => "/tags/starting-treatment"} Starting Treatment
			%ul
				%li
					%a{:href => "/tags/clinics"} Clinics
				%li
					%a{:href => "/tags/cost"} Cost
				%li
					%a{:href => "/tags/doctors"} Doctors
		%li
			%a{:href => "/tags/travel"} Travel
			%ul
				%li
					%a{:href => "/tags/migration"} Migration
				%li
					%a{:href => "/tags/tourism"} Tourism
		%li
			%a{:href => "/tags/well-being"} Well-being
			%ul
				%li
					%a{:href => "/tags/fitness"} Fitness
				%li
					%a{:href => "/tags/nutrition"} Nutrition
		%li
			%a{:href => "/tags/work"} Work
			%ul
				%li
					%a{:href => "/tags/health_checks"} Health Checks
				%li
					%a{:href => "/tags/health_insurance"} Health Insurance
				%li
					%a{:href => "/tags/inclusion_&_iscrimination"} Inclusion & Discrimination
/ question drop ends

/ %li
/ 	%a{:href => "/questions"} Questions
/ 	%ul
/ 		-Group.last.default_tags.each do |p|
/ 			%li
/ 				%a{:href => "/tags/#{p[0]}"}
/ 					= p[0].humanize
/ 				%ul
/ 					-p[1].each do |p1|
/ 						%li
/ 							%a{:href => "/tags/#{p1}"} 
/ 								= p1.humanize
