#featured-wrapper.full
	#featured
		%a{:href => "single-review-numbers.html"}
			%img{:alt => "restaurants6", :height => "550", :src => "/assets/plus/test1.jpg", :title => "#div1", :width => "1000"}/
		%a{:href => "single-review-numbers.html"}
			%img{:alt => "movies1", :height => "550", :src => "/assets/plus/test2.jpg", :title => "#div2", :width => "1000"}/
		%a{:href => "single-review-numbers.html"}
			%img{:alt => "music2", :height => "550", :src => "/assets/plus/test3.jpg", :title => "#div3", :width => "1000"}/
	#div1.nivo-html-caption
		/ %a.video{:href => "single-review-numbers.html"}  
		.category
			.ribbon-shadow-left  
			.icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png) no-repeat 0px 0px;"}  
			.catname
				Know The Basics: Living with HIV
			.category-arrow  
		.title
			%h1
				%a.bebas{:href => "single-review-numbers.html"} Know The Basics: Get the information you need to know and stay in touch via our regular newsletter or social media feeds
		/ .rating-wrapper
		/ 	.stars.yellow
		/ 		.star.full  
		/ 		.star.full  
		/ 		.star.half  
		/ 		.star  
		/ 		.star  
		%br.clearer/
	#div2.nivo-html-caption
		/ %a.video{:href => "single-review-numbers.html"}  
		.category
			.ribbon-shadow-left  
			.icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-dark.png) no-repeat 0px 0px;"}  
			.catname
				Search the Service Map
			.category-arrow  
		.title
			%h1
				%a.bebas{:href => "single-review-numbers.html"} Service Map : Find HIV health specialists in your local areas and help us map other services that people should know about.
		/ .rating-wrapper
		/ 	.number.color1 15%	
		%br.clearer/
	#div3.nivo-html-caption
		/ %a.video{:href => "single-review-numbers.html"}  
		.category
			.ribbon-shadow-left  
			.icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-dark.png) no-repeat 0px 0px;"}  
			.catname
				Ask a Question
			.category-arrow  
		.title
			%h1
				%a.bebas{:href => "single-review-numbers.html"} Ask A Question : Learn from other people’s experience of living with HIV - the diversity of answers might be the food for thought that you needed.
		/ .rating-wrapper
		/ 	.number.color5 8.6
		%br.clearer/
