.widget-wrapper
  .widget
    .section-wrapper
      .section Members
    #members-list-options.item-options
      %a#newest-members.ajax-class-call{:href => "#1",:data_send=>"newest"} Newest
      %span{:id=>"newest",:class=>"display-hidden"}
      |
      %a#recently-active-members.selected.ajax-class-call{:href => "#2",:data_send=>"active"} Active
      %span{:id=>"active",:class=>"display-hidden"}
      |
      %a#popular-members.ajax-class-call{:href => "#3",:data_send=>"popular"} Popular
      %span{:id=>"popular",:class=>"display-hidden"}
    %ul#members-list.item-list
      - @active_member.each do |active_member| 
        %li.vcard
          .item-avatar
            = image_tag("http://gravatar.com/avatar/020403d3680a44dc4a50635be23918d6?d=http://www.industrialthemes.com/made/wp-content/plugins/buddypress/bp-core/images/mystery-man.jpg&s=50&r=G",:width => "50",:class=>"avatar") 
          .item
            .item-title.fn
              %a
                = active_member.display_name
            .item-meta
              %span.activity
                %a
                  = active_member.joined_at
     
        
    %input#_wpnonce-members{:name => "_wpnonce-members", :type => "hidden", :value => "c12155629d"}/
    %input{:name => "_wp_http_referer", :type => "hidden", :value => "/made/"}/
    %input#members_widget_max{:name => "members_widget_max", :type => "hidden", :value => "5"}/

:javascript
  jQuery(".ajax-class-call").click(function(){
    // data taken to idetify tab
    var dataTaker = jQuery(this).attr("data_send");
    // loader image show
    jQuery("#"+dataTaker).show().html("<img src='/assets/ajax-loader.gif' width='10' height='10'/>");
    jQuery.ajax({
      url: "/show_member",
      type: "GET",
      data:"dataSend="+dataTaker,
      success:function(sucessObject){
        jQuery("#"+dataTaker).hide();
      }

    }); 
  });