.widget-wrapper
  .widget
    #tabbed-posts.complex-list
      %ul.tabnav
        %li
          %a.first{:href => "#tabs-popular"} Popular
        %li
          %a{:href => "#tabs-recent"} Recent
        %li
          %a{:href => "#tabs-comments"} Comments
      %br.clearer/
      .tabdiv-wrapper
        #tabs-popular.tabdiv
          %ul
            %li
              .floatleft
                %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Abraham Lincoln: Vampire Hunter"}
                  %img{:alt => "Industrial furnace", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/07/photodune-833131-industrial-furnace-s-70x70.jpg", :width => "70"}/
              .floatleft
                %a.post-title{:href => "single-review-numbers.html", :title => "Abraham Lincoln: Vampire Hunter"} Abraham Lincoln: Vampire Hunter
                %br.clearer/
                .icon
                  %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-dark.png", :width => "16"}/
                .rating-wrapper.small
                  .number.color5 84%
              %br.clearer/
            %li
              .floatleft
                %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Cold War Kids – Mine Is Yours"}
                  %img{:alt => "photodune-216844-young-female-jazz-singer-holding-an-retro-microphone--s", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/07/photodune-216844-young-female-jazz-singer-holding-an-retro-microphone-s-70x70.jpg", :width => "70"}/
              .floatleft
                %a.post-title{:href => "single-review-numbers.html", :title => "Cold War Kids – Mine Is Yours"} Cold War Kids – Mine Is Yours
                %br.clearer/
                .icon
                  %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-dark.png", :width => "16"}/
                .rating-wrapper.small
                  .number.color1 1.9
              %br.clearer/
            %li
              .floatleft
                %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "First Look: Blue Smoke Battery Park City"}
                  %img{:alt => "restaurants10", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants10-70x70.jpg", :width => "70"}/
              .floatleft
                %a.post-title{:href => "single-review-numbers.html", :title => "First Look: Blue Smoke Battery Park City"} First Look: Blue Smoke Battery Park City
                %br.clearer/
                .icon
                  %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png", :width => "16"}/
                .rating-wrapper.small
                  .stars.yellow
                    .star.full  
                    .star.full  
                    .star.full  
                    .star.full  
                    .star.half  
              %br.clearer/
            %li
              .floatleft
                %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "Klipsch Gallery G-17 iPad speaker"}
                  %img{:alt => "products4", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/products4-70x70.jpg", :width => "70"}/
              .floatleft
                %a.post-title{:href => "single-review-numbers.html", :title => "Klipsch Gallery G-17 iPad speaker"} Klipsch Gallery G-17 iPad speaker
                %br.clearer/
                .icon
                  %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-product-dark.png", :width => "16"}/
              %br.clearer/
            %li
              .floatleft
                %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "Ami by Alexandre Mattiussi Autumn (Fall) / Winter 2012 men's"}
                  %img{:alt => "fashion7", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion7-70x70.jpg", :width => "70"}/
              .floatleft
                %a.post-title{:href => "single-review-numbers.html", :title => "Ami by Alexandre Mattiussi Autumn (Fall) / Winter 2012 men's"} Ami by Alexandre Mattiussi Autumn (Fall) / Winter 2012 men's
                %br.clearer/
                .icon
                  %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-dark.png", :width => "16"}/
                .rating-wrapper.small
                  .letter.color4 B+
              %br.clearer/
            %li
              .floatleft
                %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "BitTorrent revolutionizes live streaming"}
                  %img{:alt => "products3", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/products3-70x70.jpg", :width => "70"}/
              .floatleft
                %a.post-title{:href => "single-review-numbers.html", :title => "BitTorrent revolutionizes live streaming"} BitTorrent revolutionizes live streaming
                %br.clearer/
                .icon
                  %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-product-dark.png", :width => "16"}/
              %br.clearer/
            %li.last  
        #tabs-recent.tabdiv
          %ul
            %li
              .floatleft
                %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Made Magazine Is 2 Years In The Making!"}
                  %img{:alt => "misc3", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc3-70x70.jpg", :width => "70"}/
              .floatleft
                %a.post-title.wide{:href => "single-review-numbers.html", :title => "Made Magazine Is 2 Years In The Making!"} Made Magazine Is 2 Years In The Making!
              %br.clearer/
            %li
              .floatleft
                %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Built On The Swagger Framework, Made Is Rock-Solid"}
                  %img{:alt => "misc2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc2-70x70.jpg", :width => "70"}/
              .floatleft
                %a.post-title.wide{:href => "single-review-numbers.html", :title => "Built On The Swagger Framework, Made Is Rock-Solid"} Built On The Swagger Framework, Made Is Rock-Solid
              %br.clearer/
            %li
              .floatleft
                %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Made Magazine Is The First Responsive Theme Released By IndustrialThemes"}
                  %img{:alt => "misc1", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-70x70.jpg", :width => "70"}/
              .floatleft
                %a.post-title.wide{:href => "single-review-numbers.html", :title => "Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} Made Magazine Is The First Responsive Theme Released By IndustrialThemes
              %br.clearer/
            %li
              .floatleft
                %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Standard Non-Review Post Example"}
                  %img{:alt => "misc4", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc4-70x70.jpg", :width => "70"}/
              .floatleft
                %a.post-title.wide{:href => "single-review-numbers.html", :title => "Standard Non-Review Post Example"} Standard Non-Review Post Example
              %br.clearer/
            %li
              .floatleft
                %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "A Sandwich a Day: Fried Scallops from Brucie"}
                  %img{:alt => "restaurants7", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants7-70x70.jpg", :width => "70"}/
              .floatleft
                %a.post-title{:href => "single-review-numbers.html", :title => "A Sandwich a Day: Fried Scallops from Brucie"} A Sandwich a Day: Fried Scallops from Brucie
                %br.clearer/
                .icon
                  %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png", :width => "16"}/
                .rating-wrapper.small
                  .stars.yellow
                    .star.full  
                    .star.full  
                    .star  
                    .star  
                    .star  
              %br.clearer/
            %li
              .floatleft
                %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "Yohji Yamamoto Autumn (Fall) / Winter 2012 men's"}
                  %img{:alt => "fashion4", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion4-70x70.jpg", :width => "70"}/
              .floatleft
                %a.post-title{:href => "single-review-numbers.html", :title => "Yohji Yamamoto Autumn (Fall) / Winter 2012 men's"} Yohji Yamamoto Autumn (Fall) / Winter 2012 men's
                %br.clearer/
                .icon
                  %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-dark.png", :width => "16"}/
                .rating-wrapper.small
                  .letter.color4 B+
              %br.clearer/
            %li.last  
        #tabs-comments.tabdiv
          %ul
            %li
              %a.first{:href => "single-review-numbers.html"}
                "Loremada diam pharetra eu. Donec turpis diam, adipiscing a mollis nec, placerat at lectus. Pellentesque vit..."
                %span - Brian McCulloh
            %li
              %a{:href => "single-review-numbers.html"}
                "Lomi. Pellentesque venenatis elit a nisl vehicula id sodales odio cursus. Nam sit amet lacus vitae ligula e..."
                %span - Brian McCulloh
            %li
              %a{:href => "single-review-numbers.html"}
                "Loremada diam pharetra eu. Donec turpis diam, adipiscing a mollis nec, placerat at lectus. Pellentesque vit..."
                %span - Brian McCulloh
            %li
              %a{:href => "single-review-numbers.html"}
                "Nam sit amet lacus vitae ligula eleifend laoreet quis vel nunc."
                %span - Brian McCulloh
            %li
              %a{:href => "single-review-numbers.html"}
                "Loremada diam pharetra eu. Donec turpis diam, adipiscing a mollis nec, placerat at lectus. Pellentesque"
                %span - Brian McCulloh
            %li
              %a{:href => "single-review-numbers.html"}
                "Loremada diam pharetra eu. Donec turpis diam, adipiscing a mollis nec, placerat at lectus. Pellentesque vit..."
                %span - Brian McCulloh
            %li
              %a{:href => "single-review-numbers.html"}
                "Loremada diam pharetra eu. Donec turpis diam, adipiscing a mollis nec, placerat at lectus. Pellentesque vit..."
                %span - Brian McCulloh
            %li.last  