.widget-wrapper
  .widget
    #tabbed-posts.complex-list
      %ul.tabnav
        %li
          %a{:href => "#tabs-comments"} Comments
      - if @questions
        - fetch_latest_comments.each do |comment|   
         
          %br.clearer/
          .tabdiv-wrapper
            #tabs-comments.tabdiv
              %ul
                %li
                  %a.first{:href => "single-review-numbers.html"}
                    = truncate(comment,:limit => 50)
                    %span - Brian McCulloh
                %li.last  


        