- unless @serviceProviders.nil?
	#content.page-content
		#forums-dir-list-newest.dir-list
			#pag-top.pagination
				-@paginator = @serviceProviders
				/ pagination_top
				= render :partial =>"pagination/pagination",:locals => {:paginationType=>"serviceProviders"}
	.post-loop.search-loop.services-top-adj
		- @serviceProviders.all.each do |provider|
			
			- next if provider.blank?
			.post-panel{:style=>"border-top:1px solid #E0E0E0;"}
				.post-thumbnail
					%img.avatar.user-1227-avatar.avatar-50.photo{:alt => "Profile picture of zicrainnyRV", :height => "60", :src => "http://gravatar.com/avatar/5a0a1a5e96f190c339221f66d7b09b00?d=http://www.industrialthemes.com/made/wp-content/plugins/buddypress/bp-core/images/mystery-man.jpg&s=50&r=G", :width => "60"}/
				.inner{:style=>"border-top:0px solid #E0E0E0;"}
					%h2
						=link_to "#{provider.name}",service_map_provider_path(provider.country.downcase, provider.slug)
					.comments
						%a{:href => "#", :title => "Validates"}
							- if provider.service_provider_validates.present?
								=  provider.service_provider_validates.count
								Validates
							- else
								0 Validates
					.comments
						%a{:href => "#", :title => "Comments"} 2 comments
					.date July 19, 2013
					.more
						%a{:href => "#"} More
			.clearer
	#content.page-content
		#forums-dir-list-newest.dir-list
			#pag-top.pagination
				-@paginator = @serviceProviders
				= render :partial =>"pagination/pagination",:locals => {:paginationType=>"serviceProviders"}