- if current_user
  .widget-wrapper
    .widget
      .section-wrapper
        .section 
          %i.icon-user
          My Profile
      %ul#members-list.item-list
        %li.vcard{:style=>"height:160px;"}
          .item-avatar
            -if current_user.use_gravatar?
              = image_tag avatar_user_path(current_user), :width => "100", :height=>"100", :class=>"avatar"
            -else
              = image_tag("#{local_path_experimental}member.jpeg",:width => "100",:class=>"avatar") 
          .item.set-height
            .item-meta.fn.login-profile-box#set-width
              =link_to current_user.login, settings_path
            / .item-meta
            /   %span.activity
            /     Joined
            /     %a
            /       = time_ago_in_words(current_user.created_at)
            /       ago
            .item-meta
              =link_to "<i class='icon-cog'></i>Profile Settings".html_safe,settings_path
            .item-meta
              =link_to "<i class='icon-switch'></i>Connect".html_safe,social_connect_path
            .item-meta
              =link_to "<i class='icon-tools'></i>Others".html_safe,user_path(current_user)
            - if current_user.role == "admin"
              .item-meta
                =link_to "<i class='icon-star'></i>Admin".html_safe,admin_path
            .item-meta{:style => "padding-left: 125px;"}
              =link_to "<i class='icon-logout'></i>Signout".html_safe,destroy_user_session_path

  :javascript
    jQuery(".avatar").error(function () {
      jQuery(this).unbind("error").attr("src", "#{local_path_experimental}member.jpeg");
    });