.widget-wrapper
  .widget
    #tabbed-reviews-compact.complex-list.compact
      %ul.tabnav
        %li
          %a{:href => "#tabs-compact-os_music-2"} Music
        %li
          %a{:href => "#tabs-compact-os_fashion-2"} Fashion
        %li
          %a{:href => "#tabs-compact-os_restaurant-2"} Restaurant
      %br.clearer/
      .tabdiv-wrapper
        #tabs-compact-os_music-2.tabdiv
          %ul
            %li
              .rating-wrapper.small
                .number.color4 7.4
              %a.post-title{:href => "single-review-numbers.html", :title => "Gotye – Mirrors"} Gotye – Mirrors
              %br.clearer/
            %li
              .rating-wrapper.small
                .number.color5 8.2
              %a.post-title{:href => "single-review-numbers.html", :title => "Skrillex – Bangarang"} Skrillex – Bangarang
              %br.clearer/
            %li
              .rating-wrapper.small
                .number.color1 1.9
              %a.post-title{:href => "single-review-numbers.html", :title => "Cold War Kids – Mine Is Yours"} Cold War Kids – Mine Is Yours
              %br.clearer/
            %li
              .rating-wrapper.small
                .number.color5 8.8
              %a.post-title{:href => "single-review-numbers.html", :title => "Florence And The Machine – Ceremonials"} Florence And The Machine – Ceremonials
              %br.clearer/
            %li
              .rating-wrapper.small
                .number.color4 6.8
              %a.post-title{:href => "single-review-numbers.html", :title => "The Head And The Heart – The Head And The Heart"} The Head And The Heart – The Head And The Heart
              %br.clearer/
            %li
              .rating-wrapper.small
                .number.color5 8.6
              %a.post-title{:href => "single-review-numbers.html", :title => "The Lumineers – The Lumineers"} The Lumineers – The Lumineers
              %br.clearer/
            %li
              .rating-wrapper.small
                .number.color3 5.3
              %a.post-title{:href => "single-review-numbers.html", :title => "Grace Potter and the Nocturnals – The Lion The Beast The Beat"} Grace Potter and the Nocturnals – The Lion The Beast The Beat
              %br.clearer/
            %li
              .rating-wrapper.small
                .number.color2 3.1
              %a.post-title{:href => "single-review-numbers.html", :title => "Metric – Synthetica"} Metric – Synthetica
              %br.clearer/
            %li.more{:title => "View all Music reviews"}
              %a{:href => "single-review-numbers.html"} More
            %li.last  
        #tabs-compact-os_fashion-2.tabdiv
          %ul
            %li
              .rating-wrapper.small
                .letter.color4 B+
              %a.post-title{:href => "single-review-numbers.html", :title => "Yohji Yamamoto Autumn (Fall) / Winter 2012 men's"} Yohji Yamamoto Autumn (Fall) / Winter 2012 men's
              %br.clearer/
            %li
              .rating-wrapper.small
                .letter.color2 D-
              %a.post-title{:href => "single-review-numbers.html", :title => "Art Deco fashion: the new take"} Art Deco fashion: the new take
              %br.clearer/
            %li
              .rating-wrapper.small
                .letter.color3 C
              %a.post-title{:href => "single-review-numbers.html", :title => "5 Colorful Watches From Zappos for under $50"} 5 Colorful Watches From Zappos for under $50
              %br.clearer/
            %li
              .rating-wrapper.small
                .letter.color4 B+
              %a.post-title{:href => "single-review-numbers.html", :title => "Ami by Alexandre Mattiussi Autumn (Fall) / Winter 2012 men's"} Ami by Alexandre Mattiussi Autumn (Fall) / Winter 2012 men's
              %br.clearer/
            %li
              .rating-wrapper.small
                .letter.color2 D-
              %a.post-title{:href => "single-review-numbers.html", :title => "Tom Ford: New Women’s Plus A Change In Tack"} Tom Ford: New Women’s Plus A Change In Tack
              %br.clearer/
            %li
              .rating-wrapper.small
                .letter.color2 D+
              %a.post-title{:href => "single-review-numbers.html", :title => "Top Fashion Trends For Spring/Summer 2012"} Top Fashion Trends For Spring/Summer 2012
              %br.clearer/
            %li
              .rating-wrapper.small
                .letter.color4 B+
              %a.post-title{:href => "single-review-numbers.html", :title => "On The Street… Via Tortona, Milan"} On The Street… Via Tortona, Milan
              %br.clearer/
            %li
              .rating-wrapper.small
                .letter.color3 C-
              %a.post-title{:href => "single-review-numbers.html", :title => "Alexander McQueen: Victorian Beauties"} Alexander McQueen: Victorian Beauties
              %br.clearer/
            %li.more{:title => "View all Fashion reviews"}
              %a{:href => "single-review-numbers.html"} More
            %li.last  
        #tabs-compact-os_restaurant-2.tabdiv
          %ul
            %li
              .rating-wrapper.small
                .stars.yellow
                  .star.full  
                  .star.full  
                  .star  
                  .star  
                  .star  
              %a.post-title{:href => "single-review-numbers.html", :title => "A Sandwich a Day: Fried Scallops from Brucie"} A Sandwich a Day: Fried Scallops from Brucie
              %br.clearer/
            %li
              .rating-wrapper.small
                .stars.yellow
                  .star.full  
                  .star.full  
                  .star.full  
                  .star.full  
                  .star.half  
              %a.post-title{:href => "single-review-numbers.html", :title => "Coffee Common: Bringing Coffee Power to the People"} Coffee Common: Bringing Coffee Power to the People
              %br.clearer/
            %li
              .rating-wrapper.small
                .stars.yellow
                  .star.full  
                  .star.full  
                  .star.full  
                  .star.full  
                  .star  
              %a.post-title{:href => "single-review-numbers.html", :title => "NYC Food Events for the Weekend and Beyond"} NYC Food Events for the Weekend and Beyond
              %br.clearer/
            %li
              .rating-wrapper.small
                .stars.yellow
                  .star.full  
                  .star.full  
                  .star.full  
                  .star.full  
                  .star.half  
              %a.post-title{:href => "single-review-numbers.html", :title => "First Look: Blue Smoke Battery Park City"} First Look: Blue Smoke Battery Park City
              %br.clearer/
            %li
              .rating-wrapper.small
                .stars.yellow
                  .star.full  
                  .star  
                  .star  
                  .star  
                  .star  
              %a.post-title{:href => "single-review-numbers.html", :title => "Behind The Scenes: Making Dim Sum At Nom Wah Tea Parlor"} Behind The Scenes: Making Dim Sum At Nom Wah Tea Parlor
              %br.clearer/
            %li
              .rating-wrapper.small
                .stars.yellow
                  .star.full  
                  .star.full  
                  .star.half  
                  .star  
                  .star  
              %a.post-title{:href => "single-review-numbers.html", :title => "Sugar Rush: Banana Stracciatella Gelato from Eataly"} Sugar Rush: Banana Stracciatella Gelato from Eataly
              %br.clearer/
            %li
              .rating-wrapper.small
                .stars.yellow
                  .star.full  
                  .star.full  
                  .star.full  
                  .star.half  
                  .star  
              %a.post-title{:href => "single-review-numbers.html", :title => "Daily Veg: Wok-Fried Kangkong at Fatty Crab"} Daily Veg: Wok-Fried Kangkong at Fatty Crab
              %br.clearer/
            %li
              .rating-wrapper.small
                .stars.yellow
                  .star.full  
                  .star.full  
                  .star.full  
                  .star.full  
                  .star.half  
              %a.post-title{:href => "single-review-numbers.html", :title => "A Sandwich A Day: Soppressata and Egg at Beecher’s Handmade Cheese"} A Sandwich A Day: Soppressata and Egg at Beecher’s Handmade Cheese
              %br.clearer/
            %li.more{:title => "View all Restaurant reviews"}
              %a{:href => "single-review-numbers.html"} More
            %li.last  