/ - tags = @random_tags_experimental.first(3)

.widget-wrapper
	.widget
		#tabbed-reviews-compact.complex-list.compact
			%ul.tabnav
				%li
					%a{:href => "#tabs-compact-tag0"} EN
				%li
					%a{:href => "#tabs-compact-tag1"} ID
				%li
					%a{:href => "#tabs-compact-tag2"} 中文
				%li
					%a{:href => "#tabs-compact-tag3"} ไทย
				%li
					%a{:href => "#tabs-compact-tag4"} MY
			%br.clearer/
			#tabs-compact-tag0.tabdiv{:style=>"margin-bottom:-95px;"}
				%ul.twitter-show
					%a.twitter-timeline{"data-widget-id" => "437914463987970049", href: "https://twitter.com/bcf_be_en"} Tweets by @bcf_be_en
					:javascript
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

			#tabs-compact-tag1.tabdiv{:style=>"margin-bottom:-138px;"}
				%ul
					%a.twitter-timeline{"data-widget-id" => "437907756360536064", href: "https://twitter.com/BE_indo"} Tweets by @BE_indo
					:javascript
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


			#tabs-compact-tag2.tabdiv{:style=>"margin-bottom:-138px;"}
				%ul
					%a.twitter-timeline{"data-widget-id" => "437913479219908610", href: "https://twitter.com/bcf_be_sc"} Tweets by @bcf_be_sc
					:javascript
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

			#tabs-compact-tag3.tabdiv{:style=>"margin-bottom:-138px;"}
				%ul
					%a.twitter-timeline{"data-widget-id" => "437911570157289472", href: "https://twitter.com/bcf_be_th"} Tweets by @bcf_be_th
					:javascript
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

			#tabs-compact-tag4.tabdiv{:style=>"margin-bottom:-138px;"}
				%ul
					%a.twitter-timeline{"data-widget-id" => "437910025567088640", href: "https://twitter.com/bcf_be_my"} Tweets by @bcf_be_my
					:javascript
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
%br