.sidebar-new
  .complex-list.all_reviews
    .widget-wrapper
      .widget
        .section-wrapper
          .section
            Recent Tags
        .tags-list
          - @tags.each do |tag|
            %span{:class => "tags1_2 floatleft", :title => "#{tag.name}"}
              = link_to h(tag.name).html_safe, tag_path(:id => CGI.escape(tag.name))
        .tabdiv
          %li.more{:title => "View all Tags"}
            = link_to "More", tags_path
          %li.last 