#related
  %ul.tabnav
	%li.title Related:
	%li.arrow  
	%li
	  %a{:href => "#tab1", :title => "Category 1"} Category 1
	%li
	  %a{:href => "#tab2", :title => "Category 2"} Category 2
	%li
	  %a{:href => "#tab3", :title => "Category 3"} Category 3
  %br.clearer/
  .tabdiv-wrapper
	#tab1.tabdiv
	  .panel
		.rating-wrapper.small
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "misc3", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc3-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Made Magazine Is 2 Years In The Making!
	  .panel
		.rating-wrapper.small
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "misc2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc2-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Built On The Swagger Framework, Made Is Rock-Solid
	  .clear-responsive  
	  .panel.right
		.rating-wrapper.small
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "misc1", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Made Magazine Is The First Responsive Theme Released By IndustrialThemes
	  %br.clearer.hide-responsive/
	  .panel
		.rating-wrapper.small
		  .stars.yellow
			.star.full  
			.star.full  
			.star.full  
			.star.full  
			.star.half  
		%a.darken.small.video{:href => "single-review-numbers.html"}
		  %img{:alt => "restaurants9", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants9-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Coffee Common: Bringing Coffee Power to the People
	  .clear-responsive  
	  .panel
		.rating-wrapper.small
		  .letter.color2 D-
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "fashion2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion2-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Art Deco fashion: the new take
	  .panel.right
		.rating-wrapper.small
		  .number.color1 1.9
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "photodune-216844-young-female-jazz-singer-holding-an-retro-microphone--s", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/07/photodune-216844-young-female-jazz-singer-holding-an-retro-microphone-s-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Cold War Kids – Mine Is Yours
	  %br.clearer.hide-responsive/
	  .clear-responsive  
	  %br.clearer/
	#tab2.tabdiv
	  .panel
		.rating-wrapper.small
		  .stars.yellow
			.star.full  
			.star.full  
			.star.full  
			.star.full  
			.star.half  
		%a.darken.small.video{:href => "single-review-numbers.html"}
		  %img{:alt => "restaurants9", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants9-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Coffee Common: Bringing Coffee Power to the People
	  .clear-responsive  
	  .panel
		.rating-wrapper.small
		  .letter.color2 D-
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "fashion2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion2-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Art Deco fashion: the new take
	  .panel.right
		.rating-wrapper.small
		  .number.color1 1.9
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "photodune-216844-young-female-jazz-singer-holding-an-retro-microphone--s", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/07/photodune-216844-young-female-jazz-singer-holding-an-retro-microphone-s-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Cold War Kids – Mine Is Yours
	  %br.clearer.hide-responsive/
	  .panel
		.rating-wrapper.small
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "misc3", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc3-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Made Magazine Is 2 Years In The Making!
	  .panel
		.rating-wrapper.small
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "misc2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc2-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Built On The Swagger Framework, Made Is Rock-Solid
	  .clear-responsive  
	  .panel.right
		.rating-wrapper.small
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "misc1", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Made Magazine Is The First Responsive Theme Released By IndustrialThemes
	  %br.clearer.hide-responsive/
	  .clear-responsive  
	  %br.clearer/
	#tab3.tabdiv
	  .panel
		.rating-wrapper.small
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "misc2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc2-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Built On The Swagger Framework, Made Is Rock-Solid
	  .clear-responsive  
	  .panel
		.rating-wrapper.small
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "misc3", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc3-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Made Magazine Is 2 Years In The Making!
	  .panel.right
		.rating-wrapper.small
		  .number.color1 1.9
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "photodune-216844-young-female-jazz-singer-holding-an-retro-microphone--s", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/07/photodune-216844-young-female-jazz-singer-holding-an-retro-microphone-s-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Cold War Kids – Mine Is Yours
	  %br.clearer.hide-responsive/
	  .panel
		.rating-wrapper.small
		  .letter.color2 D-
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "fashion2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion2-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Art Deco fashion: the new take
	  .panel
		.rating-wrapper.small
		  .stars.yellow
			.star.full  
			.star.full  
			.star.full  
			.star.full  
			.star.half  
		%a.darken.small.video{:href => "single-review-numbers.html"}
		  %img{:alt => "restaurants9", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants9-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Coffee Common: Bringing Coffee Power to the People
	  .clear-responsive  
	  .panel.right
		.rating-wrapper.small
		%a.darken.small{:href => "single-review-numbers.html"}
		  %img{:alt => "misc1", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-110x70.jpg", :width => "110"}/
		%a.post-title{:href => "single-review-numbers.html"} Made Magazine Is The First Responsive Theme Released By IndustrialThemes
	  %br.clearer.hide-responsive/
	  .clear-responsive  
	  %br.clearer/