#related
	%ul.tabnav.ui-tabs-nav
		%li.title Related:
		%li.arrow  
		%li
			%a{:href => "#tab1", :title => "Category 1"} Plus+
		%li
			%a{:href => "#tab2", :title => "Category 2"} Articles
		%li.ui-tabs-selected
			%a{:href => "#tab3", :title => "Category 3"} News
	%br.clearer/
	.tabdiv-wrapper
		#tab1.tabdiv.ui-tabs-panel.ui-tabs-hide{:style => ""}
			.panel
				.rating-wrapper.small
				%a.darken.small{:href => "single-review-numbers.html"}
					%img{:alt => "misc3", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc3-110x70.jpg", :style => "opacity: 1;", :width => "110"}/
				%a.post-title{:href => "single-review-numbers.html"} Made Magazine Is 2 Years In The Making!
			.panel
				.rating-wrapper.small
				%a.darken.small{:href => "single-review-numbers.html"}
					%img{:alt => "misc2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc2-110x70.jpg", :width => "110"}/
				%a.post-title{:href => "single-review-numbers.html"} Built On The Swagger Framework, Made Is Rock-Solid
			.clear-responsive  
			.panel.right
				.rating-wrapper.small
				%a.darken.small{:href => "single-review-numbers.html"}
					%img{:alt => "misc1", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-110x70.jpg", :width => "110"}/
				%a.post-title{:href => "single-review-numbers.html"} Made Magazine Is The First Responsive Theme Released By IndustrialThemes
			%br.clearer.hide-responsive/
			.panel
				.rating-wrapper.small
					.stars.yellow
						.star.full  
						.star.full  
						.star.full  
						.star.full  
						.star.half  
				%a.darken.small.video{:href => "single-review-numbers.html"}
					%img{:alt => "restaurants9", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants9-110x70.jpg", :width => "110"}/
				%a.post-title{:href => "single-review-numbers.html"} Coffee Common: Bringing Coffee Power to the People
			.clear-responsive  
			.panel
				.rating-wrapper.small
					.letter.color2 D-
				%a.darken.small{:href => "single-review-numbers.html"}
					%img{:alt => "fashion2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion2-110x70.jpg", :width => "110"}/
				%a.post-title{:href => "single-review-numbers.html"} Art Deco fashion: the new take
			.panel.right
				.rating-wrapper.small
					.number.color1 1.9
				%a.darken.small{:href => "single-review-numbers.html"}
					%img{:alt => "photodune-216844-young-female-jazz-singer-holding-an-retro-microphone--s", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/07/photodune-216844-young-female-jazz-singer-holding-an-retro-microphone-s-110x70.jpg", :width => "110"}/
				%a.post-title{:href => "single-review-numbers.html"} Cold War Kids – Mine Is Yours
			%br.clearer.hide-responsive/
			.clear-responsive  
			%br.clearer/
		#tab2.tabdiv.ui-tabs-panel.ui-tabs-hide{:style => ""}
			.panel
				.rating-wrapper.small
					.stars.yellow
						.star.full  
						.star.full  
						.star.full  
						.star.full  
						.star.half  
				%a.darken.small.video{:href => "single-review-numbers.html"}
					%img{:alt => "restaurants9", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants9-110x70.jpg", :width => "110"}/
				%a.post-title{:href => "single-review-numbers.html"} Coffee Common: Bringing Coffee Power to the People
			.clear-responsive  
			.panel
				.rating-wrapper.small
					.letter.color2 D-
				%a.darken.small{:href => "single-review-numbers.html"}
					%img{:alt => "fashion2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion2-110x70.jpg", :width => "110"}/
				%a.post-title{:href => "single-review-numbers.html"} Art Deco fashion: the new take
			.panel.right
				.rating-wrapper.small
					.number.color1 1.9
				%a.darken.small{:href => "single-review-numbers.html"}
					%img{:alt => "photodune-216844-young-female-jazz-singer-holding-an-retro-microphone--s", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/07/photodune-216844-young-female-jazz-singer-holding-an-retro-microphone-s-110x70.jpg", :width => "110"}/
				%a.post-title{:href => "single-review-numbers.html"} Cold War Kids – Mine Is Yours
			%br.clearer.hide-responsive/
			.panel
				.rating-wrapper.small
				%a.darken.small{:href => "single-review-numbers.html"}
					%img{:alt => "misc3", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc3-110x70.jpg", :width => "110"}/
				%a.post-title{:href => "single-review-numbers.html"} Made Magazine Is 2 Years In The Making!
			.panel
				.rating-wrapper.small
				%a.darken.small{:href => "single-review-numbers.html"}
					%img{:alt => "misc2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc2-110x70.jpg", :width => "110"}/
				%a.post-title{:href => "single-review-numbers.html"} Built On The Swagger Framework, Made Is Rock-Solid
			.clear-responsive  
			.panel.right
				.rating-wrapper.small
				%a.darken.small{:href => "single-review-numbers.html"}
					%img{:alt => "misc1", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-110x70.jpg", :width => "110"}/
				%a.post-title{:href => "single-review-numbers.html"} Made Magazine Is The First Responsive Theme Released By IndustrialThemes
			%br.clearer.hide-responsive/
			.clear-responsive  
			%br.clearer/
		#tab3.tabdiv.ui-tabs-panel{:style => ""}
			- @news.each_with_index do |news,index|
				- cycle_class = cycle("", "", "right") # cycle class cycle_class
				.panel{:class=>cycle_class}
					.rating-wrapper.small
						.stars.yellow
							.star.full  
							.star.full  
							.star.full  
							.star
							.star
					.rating-wrapper.small
					%a.darken.small{:href => news_path(news.slug)}
						- if news.has_news_image?
							= image_tag news_image_path(news,"small"), :height => 70,:width=>100, :alt => news.slug
						-else
							%img{:alt => "misc2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc2-110x70.jpg", :style => "opacity: 1;", :width => "110"}/						
					/ %a.post-title{:href => "single-review-numbers.html"} Built On The Swagger Framework, Made Is Rock-Solid
					= link_to truncate(strip_tags(news.news_title.capitalize),:length=>70), news_path(news.slug),:class=>"post-title"					
				- if index%2 != 0
					.clear-responsive
				- if cycle_class == "right"
					%br.clearer.hide-responsive	
				/ .panel
				/ 	.rating-wrapper.small
				/ 	%a.darken.small{:href => "single-review-numbers.html"}
				/ 		%img{:alt => "misc3", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc3-110x70.jpg", :style => "opacity: 1;", :width => "110"}/
				/ 	%a.post-title{:href => "single-review-numbers.html"} Made Magazine Is 2 Years In The Making!
				/ .panel.right
				/ 	.rating-wrapper.small
				/ 		.number.color1 1.9
				/ 	%a.darken.small{:href => "single-review-numbers.html"}
				/ 		%img{:alt => "photodune-216844-young-female-jazz-singer-holding-an-retro-microphone--s", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/07/photodune-216844-young-female-jazz-singer-holding-an-retro-microphone-s-110x70.jpg", :width => "110"}/
				/ 	%a.post-title{:href => "single-review-numbers.html"} Cold War Kids – Mine Is Yours
				/ %br.clearer.hide-responsive/
				/ .panel
				/ 	.rating-wrapper.small
				/ 		.letter.color2 D-
				/ 	%a.darken.small{:href => "single-review-numbers.html"}
				/ 		%img{:alt => "fashion2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion2-110x70.jpg", :style => "opacity: 1;", :width => "110"}/
				/ 	%a.post-title{:href => "single-review-numbers.html"} Art Deco fashion: the new take
				/ .panel
				/ 	.rating-wrapper.small
				/ 		.stars.yellow
				/ 			.star.full  
				/ 			.star.full  
				/ 			.star.full  
				/ 			.star.full  
				/ 			.star.half  
				/ 	%a.darken.small.video{:href => "single-review-numbers.html"}
				/ 		%img{:alt => "restaurants9", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants9-110x70.jpg", :style => "opacity: 1;", :width => "110"}/
				/ 	%a.post-title{:href => "single-review-numbers.html"} Coffee Common: Bringing Coffee Power to the People
				/ .clear-responsive  
				/ .panel.right
				/ 	.rating-wrapper.small
				/ 	%a.darken.small{:href => "single-review-numbers.html"}
				/ 		%img{:alt => "misc1", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-110x70.jpg", :style => "opacity: 1;", :width => "110"}/
				/ 	%a.post-title{:href => "single-review-numbers.html"} Made Magazine Is The First Responsive Theme Released By IndustrialThemes
				/ %br.clearer.hide-responsive/
				/ .clear-responsive  
				/ %br.clearer/