.clearer.hide-responsive  
%br.hide-responsive/
.categorypanels-wrapper
  .ribbon-shadow-left  
  .section-wrapper
    / spotlight section header
    .section
      Review Services Maps
  .ribbon-shadow-right  
  .section-arrow  
  - get_country_name(@service_providers).first(4).each do |provider|
    - @class = cycle('','right')
    .categorypanels
      .categorypanel{:class => "#{@class}"}
        .vertical
          .category
            .ribbon-shadow-left  
            .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-light.png) no-repeat 0px 0px;"}  
            .catname
              = provider
            .category-arrow  
          %a.darken.video{:href => "single-review-numbers.html"}
            %img{:alt => "fashion4", :height => "170", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion4-300x170.jpg", :style => "opacity: 1;", :width => "300"}/
          .inner
            %h2
              %a{:href => "single-review-numbers.html"}
              = provider
            .excerpt Donec a tellus a eros laoreet ultrices non non nisi. Nulla et sem nisi. Praesent egestas ultricies feugiat. In hac habitasse platea dictumst. Cras a lacus erat. Aenean tempor nibh non lorem vulputate sodales. Suspendisse erat d...
            .more-bar
              .rating-wrapper.small
                .letter.color4 B+
              .comments
                %a{:href => "single-review-numbers.html", :title => "Comment on Yohji Yamamoto Autumn (Fall) / Winter 2012 men's"} 0 comments
              .more
                %a{:href => "single-review-numbers.html"} More
            %br.clearer/
        .post-panel-wrapper
          .post-panel
            .post-thumbnail
              %a.darken.small{:href => "single-review-numbers.html"} <img width="70" height="70" =alt="fashion2" src="http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion2-70x70.jpg">
            .post-info
              %h3
                %a{:href => "single-review-numbers.html"} Art Deco fashion: the new take
              .post-meta
                .rating-wrapper.small
                  .letter.color2 D-
                .comments
                  %a{:href => "single-review-numbers.html", :title => "Comment on Art Deco fashion: the new take"} 0 comments
                .clearer
            .clearer
        .post-panel-wrapper
          .post-panel
            .post-thumbnail
              %a.darken.small{:href => "single-review-numbers.html"}
                %img{:alt => "fashion3", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion3-70x70.jpg", :width => "70"}/
            .post-info
              %h3
                %a{:href => "single-review-numbers.html"} 5 Colorful Watches From Zappos for under $50
              .post-meta
                .rating-wrapper.small
                  .letter.color3 C
                .comments
                  %a{:href => "single-review-numbers.html", :title => "Comment on 5 Colorful Watches From Zappos for under $50"} 0 comments
                .clearer
            .clearer
  / end categorypanels section
/ - if @class == 'right'
/   .clearer.non-responsive
/   .clear-responsive