.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
  .post-loop.directory
    .ribbon-shadow-left  
    .section-wrapper
      .section
        %i.icon-eye
        Review Directory A
    .ribbon-shadow-right  
    .section-arrow  
    .post-panel
      .header
        .more
          %a{:href => "single-review-numbers.html"} More
        
        %h2
          %span{:style=>"margin-left:-25px;"}
            ="<i class='icon-video'></i>".html_safe
            Movie
        .arrow-catpanel-bottom  
      .rating-wrapper.small.first
        .number.color5 88%
      %a.title.first{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} The Hobbit: An Unexpected Journey
      .rating-wrapper.small
        .number.color3 42%
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} The Bourne Legacy
      .rating-wrapper.small
        .number.color4 79%
      %a.title{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} Total Recall
      .rating-wrapper.small
        .number.color4 69%
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} Django Unchained
      .rating-wrapper.small
        .number.color2 34%
      %a.title{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} The Amazing Spiderman
      .rating-wrapper.small
        .number.color1 15%
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} Seeking A Friend For The End Of The World
      .rating-wrapper.small
        .number.color5 84%
      %a.title{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} Abraham Lincoln: Vampire Hunter
      .rating-wrapper.small
        .number.color3 59%
      %a.title.alt.last{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} Prometheus
    .post-panel.right
      .header
        .more
          %a{:href => "single-review-numbers.html"} More
        %h2  
          %span{:style=>"margin-left:-25px;"}
            ="<i class='icon-music'></i>".html_safe
            Music
        .arrow-catpanel-bottom  
      .rating-wrapper.small.first
        .number.color4 7.4
      %a.title.first{:href => "single-review-numbers.html", :style => "color:#d14714"} Gotye – Mirrors
      .rating-wrapper.small
        .number.color5 8.2
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#d14714"} Skrillex – Bangarang
      .rating-wrapper.small
        .number.color1 1.9
      %a.title{:href => "single-review-numbers.html", :style => "color:#d14714"} Cold War Kids – Mine Is Yours
      .rating-wrapper.small
        .number.color5 8.8
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#d14714"} Florence And The Machine – Ceremonials
      .rating-wrapper.small
        .number.color4 6.8
      %a.title{:href => "single-review-numbers.html", :style => "color:#d14714"} The Head And The Heart – The Head And The Heart
      .rating-wrapper.small
        .number.color5 8.6
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#d14714"} The Lumineers – The Lumineers
      .rating-wrapper.small
        .number.color3 5.3
      %a.title{:href => "single-review-numbers.html", :style => "color:#d14714"} Grace Potter and the Nocturnals – The Lion The Beast The Beat
      .rating-wrapper.small
        .number.color2 3.1
      %a.title.alt.last{:href => "single-review-numbers.html", :style => "color:#d14714"} Metric – Synthetica
    %br.clearer/
    
    .post-panel
      .header
        .more
          %a{:href => "single-review-numbers.html"} More
        %h2{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-dark.png) no-repeat 0px 0px;"} Fashion
        .arrow-catpanel-bottom  
      .rating-wrapper.small.first
        .letter.color4 B+
      %a.title.first{:href => "single-review-numbers.html", :style => "color:#6ab8cc"} Yohji Yamamoto Autumn (Fall) / Winter 2012 men's
      .rating-wrapper.small
        .letter.color2 D-
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#6ab8cc"} Art Deco fashion: the new take
      .rating-wrapper.small
        .letter.color3 C
      %a.title{:href => "single-review-numbers.html", :style => "color:#6ab8cc"} 5 Colorful Watches From Zappos for under $50
      .rating-wrapper.small
        .letter.color4 B+
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#6ab8cc"} Ami by Alexandre Mattiussi Autumn (Fall) / Winter 2012 men's
      .rating-wrapper.small
        .letter.color2 D-
      %a.title{:href => "single-review-numbers.html", :style => "color:#6ab8cc"} Tom Ford: New Women’s Plus A Change In Tack
      .rating-wrapper.small
        .letter.color2 D+
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#6ab8cc"} Top Fashion Trends For Spring/Summer 2012
      .rating-wrapper.small
        .letter.color4 B+
      %a.title{:href => "single-review-numbers.html", :style => "color:#6ab8cc"} On The Street… Via Tortona, Milan
      .rating-wrapper.small
        .letter.color3 C-
      %a.title.alt.last{:href => "single-review-numbers.html", :style => "color:#6ab8cc"} Alexander McQueen: Victorian Beauties
    .post-panel.right
      .header
        .more
          %a{:href => "single-review-numbers.html"} More
        %h2{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png) no-repeat 0px 0px;"} Restaurant
        .arrow-catpanel-bottom  
      .rating-wrapper.small.first
        .stars.yellow
          .star.full  
          .star.full  
          .star  
          .star  
          .star  
      %a.title.first{:href => "single-review-numbers.html", :style => "color:#77b31d"} A Sandwich a Day: Fried Scallops from Brucie
      .rating-wrapper.small
        .stars.yellow
          .star.full  
          .star.full  
          .star.full  
          .star.full  
          .star.half  
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#77b31d"} Coffee Common: Bringing Coffee Power to the People
      .rating-wrapper.small
        .stars.yellow
          .star.full  
          .star.full  
          .star.full  
          .star.full  
          .star  
      %a.title{:href => "single-review-numbers.html", :style => "color:#77b31d"} NYC Food Events for the Weekend and Beyond
      .rating-wrapper.small
        .stars.yellow
          .star.full  
          .star.full  
          .star.full  
          .star.full  
          .star.half  
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#77b31d"} First Look: Blue Smoke Battery Park City
      .rating-wrapper.small
        .stars.yellow
          .star.full  
          .star  
          .star  
          .star  
          .star  
      %a.title{:href => "single-review-numbers.html", :style => "color:#77b31d"} Behind The Scenes: Making Dim Sum At Nom Wah Tea Parlor
      .rating-wrapper.small
        .stars.yellow
          .star.full  
          .star.full  
          .star.half  
          .star  
          .star  
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#77b31d"} Sugar Rush: Banana Stracciatella Gelato from Eataly
      .rating-wrapper.small
        .stars.yellow
          .star.full  
          .star.full  
          .star.full  
          .star.half  
          .star  
      %a.title{:href => "single-review-numbers.html", :style => "color:#77b31d"} Daily Veg: Wok-Fried Kangkong at Fatty Crab
      .rating-wrapper.small
        .stars.yellow
          .star.full  
          .star.full  
          .star.full  
          .star.full  
          .star.half  
      %a.title.alt.last{:href => "single-review-numbers.html", :style => "color:#77b31d"} A Sandwich A Day: Soppressata and Egg at Beecher’s Handmade Cheese
  %br.clearer/