.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
  .post-loop.directory
    .ribbon-shadow-left  
    .section-wrapper
      .section
        Review Directory B
    .ribbon-shadow-right  
    .section-arrow  
    .post-panel.wide
      .header
        .more
          %a{:href => "single-review-numbers.html"} More
        %h2
          %span{:style=>"margin-left:-25px;"}
            ="<i class='icon-video'></i>".html_safe
            Movie
        .arrow-catpanel-bottom  
      .rating-wrapper.small.first
        .number.color5 88%
      %a.title.first{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} The Hobbit: An Unexpected Journey
      .rating-wrapper.small
        .number.color3 42%
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} The Bourne Legacy
      .rating-wrapper.small
        .number.color4 79%
      %a.title{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} Total Recall
      .rating-wrapper.small
        .number.color4 69%
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} Django Unchained
      .rating-wrapper.small
        .number.color2 34%
      %a.title{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} The Amazing Spiderman
      .rating-wrapper.small
        .number.color1 15%
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} Seeking A Friend For The End Of The World
      .rating-wrapper.small
        .number.color5 84%
      %a.title{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} Abraham Lincoln: Vampire Hunter
      .rating-wrapper.small
        .number.color3 59%
      %a.title.alt.last{:href => "single-review-numbers.html", :style => "color:#2e6bc7"} Prometheus
    .post-panel.wide
      .header
        .more
          %a{:href => "single-review-numbers.html"} More
        %h2  
          %span{:style=>"margin-left:-25px;"}
            ="<i class='icon-music'></i>".html_safe
            Music
        .arrow-catpanel-bottom  
      .rating-wrapper.small.first
        .number.color4 7.4
      %a.title.first{:href => "single-review-numbers.html", :style => "color:#d14714"} Gotye – Mirrors
      .rating-wrapper.small
        .number.color5 8.2
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#d14714"} Skrillex – Bangarang
      .rating-wrapper.small
        .number.color1 1.9
      %a.title{:href => "single-review-numbers.html", :style => "color:#d14714"} Cold War Kids – Mine Is Yours
      .rating-wrapper.small
        .number.color5 8.8
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#d14714"} Florence And The Machine – Ceremonials
      .rating-wrapper.small
        .number.color4 6.8
      %a.title{:href => "single-review-numbers.html", :style => "color:#d14714"} The Head And The Heart – The Head And The Heart
      .rating-wrapper.small
        .number.color5 8.6
      %a.title.alt{:href => "single-review-numbers.html", :style => "color:#d14714"} The Lumineers – The Lumineers
      .rating-wrapper.small
        .number.color3 5.3
      %a.title{:href => "single-review-numbers.html", :style => "color:#d14714"} Grace Potter and the Nocturnals – The Lion The Beast The Beat
      .rating-wrapper.small
        .number.color2 3.1
      %a.title.alt.last{:href => "single-review-numbers.html", :style => "color:#d14714"} Metric – Synthetica
  %br.clearer/
%br.clearer/