.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.post-loop.directory
		.ribbon-shadow-left  
		.section-wrapper
			.section
				%i.icon-eye
				Review Questions
		.ribbon-shadow-right  
		.section-arrow  

		- @random_tags.each do |tag|
			.post-panel.wide
				.header
					.more
						%a{:href => "single-review-numbers.html"} More
					.icon
						%font{:size=>2}
							%i.icon-tag
					%h2{:style => ""}#{tag}
					.arrow-catpanel-bottom  
				- get_questions_from_tag(tag).first(5).each_with_index do |title,index|
					-	css_pro = index==0 ? 'first' : 'last'
					.rating-wrapper.small{:class=>css_pro}
						.stars.yellow
							.star.full  
							.star.full  
							.star.full  
							.star.full  
							.star.half  
					%a.title.alt{:href => "single-review-numbers.html", :style => "color:#6ab8cc"}= title
	%br.clearer/
%br.clearer/