#featured-wrapper
	#featured-short
		%a{:href => "/questions"}
			%img{:alt => "Questions",:title=>"Questions", :height => "360", :src => "/assets/experimental/images/knowledge-main.png", :title => "#div1", :width => "650"}/
		%a{:href => "/services-map"}
			%img{:alt => "Services-map",:title=>"Services-map", :height => "360", :src => "/assets/experimental/images/MAP-MAIN.jpg", :title => "#div2", :width => "650"}/
		%a{:href => "/questions/ask-a-question"}
			%img{:alt => "Ask-a-question",:title=>"Ask-a-question", :height => "360", :src => "/assets/experimental/images/QUESTIONS-MAIN.jpg", :title => "#div3", :width => "650"}/
		%a{:href => "http://www.youtube.com/watch?v=LGXYN3ptEV8‎"}
			%img{:alt => "Movie Review",:title=>"Movie Review", :height => "360", :src => "/assets/experimental/images/movies-new.jpg", :title => "#div4", :width => "650"}/
	#div1.nivo-html-caption
		/ %a.video{:href => "single-review-numbers.html"}  
		.category
			.ribbon-shadow-left  
			/ .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png) no-repeat 0px 0px;"}  
			.catname
				="<i class='icon-help'></i>Knowledgebase".html_safe
			.category-arrow  
		.title
			%h1
				%a.bebas{:href => "single-review-numbers.html",:style=>"font-family:BebasNeueRegular;"} Knowledge Base: Understand the basics 
		/ .rating-wrapper
		/   .stars.yellow
		/     .star.full  
		/     .star.full  
		/     .star.half  
		/     .star  
		/     .star  
		%br.clearer/
	#div2.nivo-html-caption
		/ %a.video{:href => "single-review-numbers.html"}  
		.category
			.ribbon-shadow-left  
			/ .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-dark.png) no-repeat 0px 0px;"}  
			.catname
				="<i class='icon-location'></i>Services Map".html_safe
			.category-arrow  
		.title
			%h1
				%a.bebas{:href => "single-review-numbers.html",:style=>"font-family:BebasNeueRegular;"} Services Map: Find assistance nearby
		/ .rating-wrapper
		/   .number.color1 15%  
		%br.clearer/
	#div3.nivo-html-caption
		/ %a.video{:href => "single-review-numbers.html"}  
		.category
			.ribbon-shadow-left  
			/ .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-dark.png) no-repeat 0px 0px;"}  
			.catname
				="<i class='icon-circled-help'></i>Questions".html_safe
			.category-arrow  
		.title
			%h1
				%a.bebas{:href => "single-review-numbers.html",:style=>"font-family:BebasNeueRegular;"} Questions: Ask questions, find an answer
		/ .rating-wrapper
		/   .number.color5 8.6
		%br.clearer/
	#div4.nivo-html-caption
		%a.video{:href => "single-review-numbers.html"}  
		.category
			.ribbon-shadow-left  
			.icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-dark.png) no-repeat 0px 0px;"}  
			.catname
				/ # ="<i class='icon-circled-help'></i>Ask a Question".html_safe
				Youtube 
			.category-arrow  
		.title
			%h1
				%a.bebas{:href => "single-review-numbers.html",:style=>"font-family:BebasNeueRegular;"}  Stories of Being Me - Call for Filmmakers
		/ .rating-wrapper
		/   .number.color5 8.6
		%br.clearer/
