#featured-wrapper-short.full
  #featured-short
    %a{:href => "/questions"}
      %img{:alt => "Questions",:title=>"Questions", :height => "360", :src => "/assets/plus/new1.jpg", :title => "#div1", :width => "650"}/
    %a{:href => "/services-map"}
      %img{:alt => "Services-map",:title=>"Services-map", :height => "360", :src => "/assets/plus/new2.jpg", :title => "#div2", :width => "650"}/
    %a{:href => "/questions/ask-a-question"}
      %img{:alt => "Ask-a-question",:title=>"Ask-a-question", :height => "360", :src => "/assets/plus/new3.jpg", :title => "#div3", :width => "650"}/
  #div1.nivo-html-caption
    / %a.video{:href => "single-review-numbers.html"}  
    .category
      .ribbon-shadow-left  
      / .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png) no-repeat 0px 0px;"}  
      .catname
        ="<i class='icon-help'></i>Know The Basics: Living with HIV".html_safe
      .category-arrow  
    .title
      %h1
        %a.bebas{:href => "single-review-numbers.html"} Know The Basics: Get the information you need to know. 
    / .rating-wrapper
    /   .stars.yellow
    /     .star.full  
    /     .star.full  
    /     .star.half  
    /     .star  
    /     .star  
    %br.clearer/
  #div2.nivo-html-caption
    / %a.video{:href => "single-review-numbers.html"}  
    .category
      .ribbon-shadow-left  
      / .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-dark.png) no-repeat 0px 0px;"}  
      .catname
        ="<i class='icon-location'></i>Search the Service Map".html_safe
      .category-arrow  
    .title
      %h1
        %a.bebas{:href => "single-review-numbers.html"} Service Map : Find HIV health specialists in your local areas.
    / .rating-wrapper
    /   .number.color1 15%  
    %br.clearer/
  #div3.nivo-html-caption
    / %a.video{:href => "single-review-numbers.html"}  
    .category
      .ribbon-shadow-left  
      / .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-dark.png) no-repeat 0px 0px;"}  
      .catname
        ="<i class='icon-circled-help'></i>Ask a Question".html_safe
      .category-arrow  
    .title
      %h1
        %a.bebas{:href => "single-review-numbers.html"} Ask A Question : Learn from other people’s experience of living with HIV.
    / .rating-wrapper
    /   .number.color5 8.6
    %br.clearer/
