.widget-wrapper
	.widget
		.section-wrapper
			.section 
				%i.icon-key
				Login With Social Networks
		.login-form
			/ =embed_rpx user_session_url
			/ =link_to "AOL","/social"
			/ ="&nbsp;".html_safe
			/ =link_to image_tag("/assets/experimental/images/social_icons/facebook.png"),"/social",:class=>"social-icons"
			/ ="&nbsp;".html_safe
			/ =link_to image_tag("/assets/experimental/images/social_icons/linkedin.png"),"/social",:class=>"social-icons"
			/ ="&nbsp;".html_safe
			/ =link_to image_tag("/assets/experimental/images/social_icons/twitter.png"),"/social",:class=>"social-icons"
			/ ="&nbsp;".html_safe
			/ %br
			/ =link_to image_tag("/assets/experimental/images/social_icons/google.png"),"/social",:class=>"social-icons"
			/ ="&nbsp;".html_safe
			/ =link_to image_tag("/assets/experimental/images/social_icons/yahoo.png"),"/social",:class=>"social-icons"
			/ ="&nbsp;".html_safe
			/ =link_to image_tag("/assets/experimental/images/social_icons/linkedin.png"),"/social",:class=>"social-icons"
			/ ="&nbsp;".html_safe
			/ =link_to "Twitter","/social"
			= link_to  image_tag("/assets/experimental/images/social_icons/social_widget.png",:width=>"270", :id=>"set-width"),"/social"
:javascript

	jQuery(".social-icons").mouseover(function(){
		jQuery(".social-icons").fadeTo('fast',10);
		jQuery(this).fadeTo('fast',0.5);
	});


			