- unless current_user
	.widget-wrapper
		.widget
			.section-wrapper
				.section 
					%i.icon-key
					Login With Social Networks
			.login-form
				

				- if params[:controller] == "service_providers" && params[:action] == "show"
					= link_to  image_tag("/assets/experimental/images/social_icons/social_widget.png",:width=>"270", :id=>"set-width"),social_experimental_index_path(:via=>"networks")
				- else
					= link_to_rpx  image_tag("/assets/experimental/images/social_icons/social_widget.png",:width=>"270", :id=>"set-width"),user_session_url
				%p.login-submit
					=link_to "<i class='icon-lock'></i>Concerned about privacy?".html_safe, concern_about_privacy_experimental_index_path
:javascript

	jQuery(".social-icons").mouseover(function(){
		jQuery(".social-icons").fadeTo('fast',10);
		jQuery(this).fadeTo('fast',0.5);
	});


				