.main-content
  %br.clearer/
  #spotlight-wrapper
    .ribbon-shadow-left  
    .section-wrapper
      / spotlight section header
      .section
        In The Spotlight
    .ribbon-shadow-right  
    .section-arrow  
    .spotlight
      #spotlight-slider
        / begin spotlight slider
        %ul{:style=>"height:555px;"}
          %li
            .post-panel
              .category
                .ribbon-shadow-left  
                .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-light.png) no-repeat 0px 0px;"}  
                .catname
                  Question & Answer
                .category-arrow  
              %a.darken{:href => "/questions"}
                %img{:alt => "movies2", :height => "170", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies2-300x170.jpg", :width => "300"}/
              .inner
                %h2
                  %a{:href => "/questions"} 
                    = current_group.block_one_header.html_safe
                .excerpt.full-align-style
                  = current_group.block_one_info.html_safe rescue "" 
              .more-bar
                .arrow-catpanel-top  
                / .rating-wrapper.small
                /   .number.color3 42%
                .comments
                  %a{:href => "single-review-numbers.html", :title => "Comment on The Bourne Legacy"} 0 Views
                .more
                  %a{:href => "/questions"} More
          %li
            .post-panel.right
              .category
                .ribbon-shadow-left  
                .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-light.png) no-repeat 0px 0px;"}  
                .catname
                  Services Map
                .category-arrow  
              %a.darken{:href => service_providers_show_experimental_index_path}
                %img{:alt => "fashion3", :height => "170", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion3-300x170.jpg", :width => "300"}/
              .inner
                %h2
                  %a{:href => service_providers_show_experimental_index_path}
                    =current_group.block_two_header.html_safe
                .excerpt.full-align-style
                  = current_group.block_two_info.html_safe rescue ""
              .more-bar
                .arrow-catpanel-top  
                / .rating-wrapper.small
                /   .letter.color3 C
                .comments
                  %a{:href => "single-review-numbers.html", :title => "Comment on 5 Colorful Watches From Zappos for under $50"} 0 Views
                .more
                  %a{:href => service_providers_show_experimental_index_path} More
            .clearer
          %li
            .post-panel
              .category
                .ribbon-shadow-left  
                .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-light.png) no-repeat 0px 0px;"}  
                .catname
                  Knowledge Base 
                .category-arrow  
              %a.darken.video{:href => "/questions/ask-a-question"}
                %img{:alt => "restaurants6", :height => "170", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants6-300x170.jpg", :width => "300"}/
              .inner
                %h2
                  %a{:href => "/questions/ask-a-question"} 
                    =current_group.block_three_header.html_safe
                .excerpt.full-align-style
                  =current_group.block_three_info.html_safe rescue ""
              .more-bar
                .arrow-catpanel-top  
                / .rating-wrapper.small
                /   .stars.yellow
                /     .star.full  
                /     .star.full  
                /     .star.half  
                /     .star  
                /     .star  
                .comments
                  %a{:href => "/questions/ask-a-question", :title => "Comment on Sugar Rush: Banana Stracciatella Gelato from Eataly"} 0 Views
                .more
                  %a{:href => "/questions/ask-a-question"} More
            .clearer