.main-content
  %br.clearer/
  #spotlight-wrapper
    .ribbon-shadow-left  
    .section-wrapper
      / spotlight section header
      .section
        In The Spotlight
    .ribbon-shadow-right  
    .section-arrow  
    .spotlight
      #spotlight-slider
        / begin spotlight slider
        %ul
          %li
            .post-panel
              .category
                .ribbon-shadow-left  
                .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-light.png) no-repeat 0px 0px;"}  
                .catname
                  Movie Review
                .category-arrow  
              %a.darken{:href => "single-review-numbers.html"}
                %img{:alt => "movies2", :height => "170", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies2-300x170.jpg", :width => "300"}/
              .inner
                %h2
                  %a{:href => "single-review-numbers.html"} The Bourne Legacy
                .excerpt Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet eges...
              .more-bar
                .arrow-catpanel-top  
                .rating-wrapper.small
                  .number.color3 42%
                .comments
                  %a{:href => "single-review-numbers.html", :title => "Comment on The Bourne Legacy"} 0 comments
                .more
                  %a{:href => "single-review-numbers.html"} More
          %li
            .post-panel.right
              .category
                .ribbon-shadow-left  
                .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-light.png) no-repeat 0px 0px;"}  
                .catname
                  Fashion Review
                .category-arrow  
              %a.darken{:href => "single-review-numbers.html"}
                %img{:alt => "fashion3", :height => "170", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion3-300x170.jpg", :width => "300"}/
              .inner
                %h2
                  %a{:href => "single-review-numbers.html"} 5 Colorful Watches From Zappos for under $50
                .excerpt Donec a tellus a eros laoreet ultrices non non nisi. Nulla et sem nisi. Praesent egestas ultricies feugiat. In hac habitasse platea dictumst. Cras a lacus erat. Aenean tempor nibh non lorem vulputate sodales. Suspendisse erat d...
              .more-bar
                .arrow-catpanel-top  
                .rating-wrapper.small
                  .letter.color3 C
                .comments
                  %a{:href => "single-review-numbers.html", :title => "Comment on 5 Colorful Watches From Zappos for under $50"} 0 comments
                .more
                  %a{:href => "single-review-numbers.html"} More
            .clearer
          %li
            .post-panel
              .category
                .ribbon-shadow-left  
                .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-light.png) no-repeat 0px 0px;"}  
                .catname
                  Restaurant Review
                .category-arrow  
              %a.darken.video{:href => "single-review-numbers.html"}
                %img{:alt => "restaurants6", :height => "170", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants6-300x170.jpg", :width => "300"}/
              .inner
                %h2
                  %a{:href => "single-review-numbers.html"} Sugar Rush: Banana Stracciatella Gelato from Eataly
                .excerpt Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc.
              .more-bar
                .arrow-catpanel-top  
                .rating-wrapper.small
                  .stars.yellow
                    .star.full  
                    .star.full  
                    .star.half  
                    .star  
                    .star  
                .comments
                  %a{:href => "single-review-numbers.html", :title => "Comment on Sugar Rush: Banana Stracciatella Gelato from Eataly"} 0 comments
                .more
                  %a{:href => "single-review-numbers.html"} More
            .clearer