.category.qa-q-item-tags
  .catname
    Related Tags
  .category-arrow
.tags-list-about
  %span.tags1_2_3
    %a{:href => "/tags/casual-partners"} Casual Partners
    %span
      x
    %span.avoid_link_color#weight-font
      0
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/family"} Family
    %span
      x
    %span.avoid_link_color#weight-font
      1
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/friends"} Friends
    %span
      x
    %span.avoid_link_color#weight-font
      2
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/regular-partners"} Regular Partners
    %span
      x
    %span.avoid_link_color#weight-font
      0
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/partying"} Partying
    %span
      x
    %span.avoid_link_color#weight-font
      1
  %br          
  %span.tags1_2_3
    %a{:href => "/tags/sex"} Sex
    %span
      x
    %span.avoid_link_color#weight-font
      2
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/situation"} Situation
    %span
      x
    %span.avoid_link_color#weight-font
      0
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/compliance"} Compliance
    %span
      x
    %span.avoid_link_color#weight-font
      1
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/regular-access-to-medication"} Regular Access to Medication
    %span
      x
    %span.avoid_link_color#weight-font
      2
  &nbsp;
  %br
  %span.tags1_2_3
    %a{:href => "/tags/dating"} Dating
    %span
      x
    %span.avoid_link_color#weight-font
      0
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/minimizing-risk"} Minimizing-risk
    %span
      x
    %span.avoid_link_color#weight-font
      1
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/safer-sex"} Safer Sex
    %span
      x
    %span.avoid_link_color#weight-font
      2
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/accessing-medication"} Accessing Medication
    %span
      x
    %span.avoid_link_color#weight-font
      0
  &nbsp;
  %br
  %span.tags1_2_3
    %a{:href => "/tags/cost"} Cost
    %span
      x
    %span.avoid_link_color#weight-font
      1
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/selecting-medication"} Selecting Medication
    %span
      x
    %span.avoid_link_color#weight-font
      2
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/side-effects"} Side Effects
    %span
      x
    %span.avoid_link_color#weight-font
      0
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/clinics"} Clinics
    %span
      x
    %span.avoid_link_color#weight-font
      1
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/doctors"} Doctors
    %span
      x
    %span.avoid_link_color#weight-font
      2
  &nbsp;
  %br
  %span.tags1_2_3
    %a{:href => "/tags/migration"} Migration
    %span
      x
    %span.avoid_link_color#weight-font
      1
  &nbsp;        
  %span.tags1_2_3
    %a{:href => "/tags/tourism"} Tourism
    %span
      x
    %span.avoid_link_color#weight-font
      2
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/fitness"} Fitness
    %span
      x
    %span.avoid_link_color#weight-font
      0
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/nutrition"} Nutrition
    %span
      x
    %span.avoid_link_color#weight-font
      1
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/health-checks"} Health Checks
    %span
      x
    %span.avoid_link_color#weight-font
      2
  &nbsp;
  %br
  %span.tags1_2_3
    %a{:href => "/tags/health-insurance"} Health Insurance
    %span
      x
    %span.avoid_link_color#weight-font
      1
  &nbsp;
  %span.tags1_2_3
    %a{:href => "/tags/incusion-&-descrimination"} Inclusion & Descrimination
    %span
      x
    %span.avoid_link_color#weight-font
      2
  &nbsp;
  %br