:css
  #featured-wrapper .video{
    opacity: 0.95 !important;
  }


#spotlight-wrapper
  .ribbon-shadow-left
  .section-wrapper
    / spotlight section header
    .section
      %i.icon-flashlight
      Stories of Being Me Video Series

  .ribbon-shadow-right
  .section-arrow
  %br
  #featured-wrapper
    #sliderFrame
      #slider
        %a.video{href: "http://www.youtube.com/watch?v=O2_AT8s1swU"}
          .category.category-new{:style=>"font-size:1.1em;"}
            .ribbon-shadow-left.new-video
            .catname
              ="<i class='icon-location'></i>Manila".html_safe
            .category-arrow
          %img.set-image-vedio{src: "/assets/experimental/images/BE_Slider_Ep_Manila.jpg"}/
        %a.video{href: "http://www.youtube.com/watch?v=DaWrKu4H0yk"}
          .category.category-new{:style=>"font-size:1.1em;"}
            .ribbon-shadow-left.new-video
            .catname
              ="<i class='icon-location'></i>Bangkok".html_safe
            .category-arrow
          %img.set-image-vedio{src: "/assets/experimental/images/BE_Slider_Ep_Bangkok.jpg"}/
        %a.video{href: "http://www.youtube.com/watch?v=I0k_djXTBGs"}
          .category.category-new{:style=>"font-size:1.1em;"}
            .ribbon-shadow-left.new-video
            .catname
              ="<i class='icon-location'></i>Phnom Penh".html_safe
            .category-arrow
          %img.set-image-vedio{src: "/assets/experimental/images/BE_Slider_Ep_PhnomPenh.jpg"}/
    %br
