%br
#spotlight-wrapper
  .ribbon-shadow-left
  .section-wrapper
    / spotlight section header
    .section
      %i.icon-flashlight
      Youtube Slider

  .ribbon-shadow-right
  .section-arrow
  %br
  %br
  #sliderFrame
    #slider
      %a.video{href: "http://www.youtube.com/watch?v=LGXYN3ptEV8"}
        %img{src: "/assets/experimental/images/knowledge-main.png", :alt=>"Know about B-change"}/
      %a.video{href: "https://www.youtube.com/watch?v=aOWB0yGTrNY"}
        %img{src: "/assets/experimental/images/movies-new.jpg", :alt=>"Know about movies"}/
      %a.video{href: "https://www.youtube.com/watch?v=aOWB0yGTrNY"}
        %img{src: "/assets/experimental/images/MAP-MAIN.jpg", :alt=>"Know about maps"}/
      %a.video{href: "https://www.youtube.com/watch?v=aOWB0yGTrNY"}
        %img{src: "/assets/experimental/images/QUESTIONS-MAIN.jpg", :alt=>"Know about questions"}/

  %br



