:css
  #featured-wrapper .video{
    opacity: 0.95 !important;
  }


#spotlight-wrapper
  .ribbon-shadow-left
  .section-wrapper
    / spotlight section header
    .section
      %i.icon-flashlight
      Youtube Slider

  .ribbon-shadow-right
  .section-arrow
  %br
  #featured-wrapper
    #sliderFrame
      #slider
        %a.video{href: "http://www.youtube.com/watch?v=LGXYN3ptEV8"}
          .category.category-new{:style=>"font-size:1.1em;"}
            .ribbon-shadow-left.new-video
            .catname
              ="<i class='icon-help'></i>Knowledgebase".html_safe
            .category-arrow
          %img{src: "/assets/experimental/images/knowledge-main.png", :alt=>"Knowledge Base: Understand the basics"}/
        %a.video{href: "https://www.youtube.com/watch?v=aOWB0yGTrNY"}
          .category.category-new{:style=>"font-size:1.1em;"}
            .ribbon-shadow-left.new-video
            .catname
              ="<i class='icon-location'></i>Services Map".html_safe
            .category-arrow
          %img{src: "/assets/experimental/images/movies-new.jpg", :alt=>"Services Map: Find assistance nearby"}/
        %a.video{href: "https://www.youtube.com/watch?v=aOWB0yGTrNY"}
          .category.category-new{:style=>"font-size:1.1em;"}
            .ribbon-shadow-left.new-video
            .catname
              ="<i class='icon-circled-help'></i>Questions".html_safe
            .category-arrow
          %img{src: "/assets/experimental/images/MAP-MAIN.jpg", :alt=>"Questions: Ask questions, find an answer"}/
        %a.video{href: "https://www.youtube.com/watch?v=aOWB0yGTrNY"}
          .category.category-new{:style=>"font-size:1.1em;"}
            .ribbon-shadow-left.new-video
            .catname
              Youtube
            .category-arrow
          %img{src: "/assets/experimental/images/QUESTIONS-MAIN.jpg", :alt=>"Stories of Being Me - Call for Filmmakers"}/
    %br



