/ .widget-wrapper
/   .widget
/     .ad
/       %a{:href => "#"}
/         %img{:alt => "Advertisement", :src => "#{local_path_experimental}aj_125x125_v5.gif"}/
/     .ad.right
/       %a{:href => "#"}
/         %img{:alt => "Advertisement", :src => "#{local_path_experimental}tf_125x125_v5.gif"}/
/     %br.clearer/
/     .ad
/       %a{:href => "#"}
/         %img{:alt => "Advertisement", :src => "#{local_path_experimental}gr_125x125_v4.gif"}/
/     .ad.right
/       %a{:href => "#"}
/         %img{:alt => "Advertisement", :src => "#{local_path_experimental}aj_125x125_v5.gif"}/
/     %br.clearer/
/     %br/