.widget-wrapper
  .widget
    .ad
      %a{:href => "http://themeforest.net/?ref=IndustrialThemes"}
        %img{:alt => "Advertisement", :src => "http://envato.s3.amazonaws.com/referrer_adverts/aj_125x125_v5.gif"}/
    .ad.right
      %a{:href => "http://themeforest.net/?ref=IndustrialThemes"}
        %img{:alt => "Advertisement", :src => "http://envato.s3.amazonaws.com/referrer_adverts/tf_125x125_v5.gif"}/
    %br.clearer/
    .ad
      %a{:href => "http://themeforest.net/?ref=IndustrialThemes"}
        %img{:alt => "Advertisement", :src => "http://envato.s3.amazonaws.com/referrer_adverts/gr_125x125_v4.gif"}/
    .ad.right
      %a{:href => "http://themeforest.net/?ref=IndustrialThemes"}
        %img{:alt => "Advertisement", :src => "http://envato.s3.amazonaws.com/referrer_adverts/aj_125x125_v5.gif"}/
    %br.clearer/
    %br/