.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
  .post-loop.search-loop
    .ribbon-shadow-left  
    .section-wrapper
      .section
        Polls
    .ribbon-shadow-right  
    .section-arrow  
    - if @polls.blank?
      No Polls Yet
    -@polls.each do |poll|
      = render :partial => "poll", :object => poll
.sidebar
  = render "experimental/partials/login_box"
  = render "experimental/partials/left_bar"
