#BW_footer
  .col.col_left
    %a.button Review this clinic
    %span Your feedback is important
  .col.col_center
    %a.button.thickbox
      Incorrect information?
    %span We will correct it immediately
  .col.col_right
    %a.button Log in
    %span Add or update your information
  .clear
  .row
    Reviews are subject to our
    = succeed "," do
      %a Privacy Policy
    and our
    = succeed "." do
      %a Review Guidelines
    = succeed "." do
      %a Disclaimer
  .row Visit Singapore International Cleft-Craniofacial Team a Plastic Surgery Clinic in Tanglin, Singapore. See contact details, prices, reviews and more.