.content-wrapper
	#services_map{:style => "width:626px; height:360px"}



:javascript
	var geocoder2;
		var map2;
		var markersArray2 = [];
		var bounds2;
		var infowindow =  new google.maps.InfoWindow({
				content: ''
		});
		//plot initial point using geocode instead of coordinates (works just fine)
		function initialize2() {
				geocoder2 = new google.maps.Geocoder();
				bounds2 = new google.maps.LatLngBounds ();

				var myOptions = {
						zoom: 2,
						mapTypeId: google.maps.MapTypeId.ROADMAP,
						zoomControlOptions: {
							style: google.maps.ZoomControlStyle.LARGE
						}

				};
				map2 = new google.maps.Map(document.getElementById("services_map"), myOptions);

				plotMarkers();
		}
		var locationsArray = [['#{escape_javascript @service_provider.name.gsub(",","")}' ,'#{escape_javascript @service_provider.telephone}' + " " + '#{escape_javascript @service_provider.email}','#{escape_javascript @service_provider.address.gsub(",","")}']]

		function plotMarkers(){
				var i;
				for(i = 0; i < locationsArray.length; i++){
						codeAddresses(locationsArray[i]);
				}
		}

		function codeAddresses(address){
				geocoder2.geocode( { 'address': address[2]}, function(results, status) {
						if (status == google.maps.GeocoderStatus.OK) {
								marker = new google.maps.Marker({
										map: map2,
										position: results[0].geometry.location
								});

								google.maps.event.addListener(marker, 'click', function() {

										var formattedAddress =  "<b>" + address[0] + "</b> <br/>" + address[1] ;
										infowindow.setContent(formattedAddress);
										infowindow.open(map2, this);
								});

								bounds2.extend(results[0].geometry.location);

								markersArray2.push(marker);
						}
						else{
								//alert("Geocode was not successful for the following reason: " + status);
						}

						map2.fitBounds(bounds2);
						map2.setZoom(10)
				});
		}


		jQuery(document).ready(function($){

			$('#Map').show('slow',function(){
				google.maps.event.addDomListener(window, 'load', initialize2);
			})

	 	});