.provider_all_staff.panel_wrapper
  #staff_preview_159305.staff_preview
    .staff_text
      %span Dr Catherine T.H. Lee
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line{:style=>"padding-top:10px"}
        %b{:id=>"span_staff"} Job Title:
        %span Orthodontist
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Specialisations:
        %span Orthodontics
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Languages:
        %span English, Chinese
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Biography:
        .description
          %p BDS (Adelaide, Australia), Cert. Orthodontics (New York) 
          %p Subspecialty Training: Fellowship Cleft-Craniofacial Orthodontics, Institute of Reconstructive Plastic Surgery, New York University (1999) 
          %p • Patron, Cleft Care Foundation Indonesia 
          %p • Board Member, International Society of Craniofacial Orthodontics 
          %p • Member, International Society of Craniofacial Surgery 
          %p • Member, American Cleft Palate-Craniofacial Association 
    %div{:style=>"clear:both"}   
  #staff_preview_159733.staff_preview
    .staff_text
      %span Dr Martin Huang 
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line{:style=>"padding-top:10px"}
        %b{:id=>"span_staff"} Job Title:
        %span Consultant
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Specialisations:
        %span Plastic and Reconstuctive Surgery
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Languages:
        %span English
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Biography:
        .description
          %p Cleft-Craniofacial, Plastic and Reconstructive Surgery MBBS, MMedSurg., FRCS (Glasgow), FRCS (Edinburgh), FAMS (Plastic Surgery)  
          %p Subspecialty Training: 
          %p • Fellowship Cleft-Craniofacial Surgery, Children’s Hospital and Medical Centre, Seattle, USA (1995) 
          %p • Fellowship Cleft-Craniofacial Surgery, Scottish Rite Children’s Medical Centre, Atlanta, USA(1996) 
          %p • Member, American Cleft Palate-Craniofacial Association
    %div{:style=>"clear:both"}
  #staff_preview_159733.staff_preview
    .staff_text
      %span Dr Ravi Seshadri 
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line{:style=>"padding-top:10px"}
        %b{:id=>"span_staff"} Job Title:
        %span Consultant
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Specialisations:
        %span Otolaryngologic Surgery (ENT) 
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Languages:
        %span English
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Biography:
        .description
          %p MBBS, FRCS (Edinburgh), FAMS (ORL) 
          %p • Member, International Association of Phonosurgeons  
          %p • Member, The Voice Foundation (USA) 
    %div{:style=>"clear:both"}
  #staff_preview_159733.staff_preview
    .staff_text
      %span Dr Winston Tan 
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line{:style=>"padding-top:10px"}
        %b{:id=>"span_staff"} Job Title:
        %span Consultant
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Specialisations:
        %span Oral and Maxillofacial Surgery
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Languages:
        %span English, Chinese
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Biography:
        .description
          %p BDS, MDS, FRACDS, FAMS 
          %p • Member, Arbeitsgemeinschaft für Osteosynthesefragen Craniomaxillofacial 
          %p • Member, International Association of Oral & Maxillofaical Surgeons  
    %div{:style=>"clear:both"}
  #staff_preview_159733.staff_preview
    .staff_text
      %span Dr Siak Hong Teo 
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line{:style=>"padding-top:10px"}
        %b{:id=>"span_staff"} Job Title:
        %span Consultant
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Specialisations:
        %span Medical Genetics, Paediatrics
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Languages:
        %span English, Chinese
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Biography:
        .description
          %p MBBS, MMED (Paed), FAMS (Paed)
    %div{:style=>"clear:both"}
  #staff_preview_159733.staff_preview
    .staff_text
      %span Dr S Sivasankaran 
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line{:style=>"padding-top:10px"}
        %b{:id=>"span_staff"} Job Title:
        %span Consultant
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Specialisations:
        %span Paediatrics
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Languages:
        %span English
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Biography:
        .description
          %p MBBS, MD, FRCP (London), DCH (Ireland), FAMS  
    %div{:style=>"clear:both"}
  #staff_preview_159733.staff_preview
    .staff_text
      %span Miss Christine Marrello  
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line{:style=>"padding-top:10px"}
        %b{:id=>"span_staff"} Job Title:
        %span Practice Therapist
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Specialisations:
        %span Speech and Language Therapy
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Languages:
        %span English
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Biography:
        .description
          %p MSc (USA), CCC - SLP (USA) 
          %p • Certified by: 
          %p • Department of Public Instruction (DPI) - Wisconsin, USA
          %p • Department of Regulations and Licensing (DRL) - Wisconsin, USA   
    %div{:style=>"clear:both"}
  #staff_preview_159733.staff_preview
    .staff_text
      %span Dr Sin Yong Phua 
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line{:style=>"padding-top:10px"}
        %b{:id=>"span_staff"} Job Title:
        %span Practice Therapist
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Specialisations:
        %span Speech and Language Therapy
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Languages:
        %span English, Chinese
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Biography:
        .description
          %p PhD (Sydney, Australia), B.Sp.Thy (Hons)  
    %div{:style=>"clear:both"}
  #staff_preview_159733.staff_preview
    .staff_text
      %span Miranda Grimbeek 
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line{:style=>"padding-top:10px"}
        %b{:id=>"span_staff"} Job Title:
        %span Counsellor
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Specialisations:
        %span Psychology
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Languages:
        %span English
      #providerDetails_providerDetailsTabStaff_staffListRepeater_ctl00_StaffPreview_headJobTitle.staff_line
        %b{:id=>"span_staff"} Biography:
        .description
          %p MEd (South Africa), B. Prim. Ed (South Africa) 
    %div{:style=>"clear:both"} 