#tab_treatments.BW_prices
  #priceTab_divClinic_Treatment.panel_wrapper{:style => "clear:both;"}
    %span.jq_heading_1.catagory
      %span Plastic Surgery
    .jq_proc_32.treatment_item{:property => "availableService", :relct => "1", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_panel
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl00_Treatment1_LiteralName Cleft Lip and Palate Treatment
        .clear
      %div{:style => "clear:both"}
    .jq_proc_1000.alternate.treatment_item{:property => "availableService", :relct => "1", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_body1
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl01_Treatment1_LiteralName Plastic Surgeon Consultation
        .clear
      %div{:style => "clear:both"}
    %span.jq_heading_91.catagory
      %span.category_panel Dentistry
    .jq_proc_92.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_panel
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl02_Treatment1_LiteralName Braces
        .clear
      %div{:style => "clear:both"}
    .jq_proc_454.alternate.treatment_braces.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl03_Treatment1_LiteralName Adult Braces
        .clear
      %div{:style => "clear:both"}
    .jq_proc_455.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl04_Treatment1_LiteralName Child Braces
        .clear
      %div{:style => "clear:both"}
    .jq_proc_460.alternate.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl05_Treatment1_LiteralName Fixed Braces
        .clear
      %div{:style => "clear:both"}
    .jq_proc_462.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl06_Treatment1_LiteralName Lingual Braces
        .clear
      %div{:style => "clear:both"}
    .jq_proc_458.alternate.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl07_Treatment1_LiteralName Metal Braces
        .clear
      %div{:style => "clear:both"}
    .jq_proc_453.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl08_Treatment1_LiteralName Orthodontic Retainer
        .clear
      %div{:style => "clear:both"}
    .jq_proc_461.alternate.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl09_Treatment1_LiteralName Removable Braces
        .clear
      %div{:style => "clear:both"}
    .jq_proc_993.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_body
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl10_Treatment1_LiteralName Dental X-Ray
        .clear
      %div{:style => "clear:both"}
    .jq_proc_1068.alternate.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl11_Treatment1_LiteralName 3D Dental X-Ray
        .clear
      %div{:style => "clear:both"}
    .jq_proc_1067.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl12_Treatment1_LiteralName Digital Dental X-Ray
        .clear
      %div{:style => "clear:both"}
    .jq_proc_1070.alternate.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl13_Treatment1_LiteralName Digital Panoramic Dental X-Ray
        .clear
      %div{:style => "clear:both"}
    .jq_proc_1069.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl14_Treatment1_LiteralName Panoramic Dental X-Ray
        .clear
      %div{:style => "clear:both"}
    .jq_proc_1066.alternate.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl15_Treatment1_LiteralName Traditional Dental X-Ray
        .clear
      %div{:style => "clear:both"}
    .jq_proc_432.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_body
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl16_Treatment1_LiteralName Extractions
        .clear
      %div{:style => "clear:both"}
    .jq_proc_512.alternate.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl17_Treatment1_LiteralName Non-Surgical Extractions
        .clear
      %div{:style => "clear:both"}
    .jq_proc_513.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl18_Treatment1_LiteralName Surgical Extractions
        .clear
      %div{:style => "clear:both"}
    .jq_proc_392.alternate.sub_tretment.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_name
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl19_Treatment1_LiteralName Wisdom Tooth Extraction
        .clear
      %div{:style => "clear:both"}
    .jq_proc_446.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_body
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl20_Treatment1_LiteralName Mouth Guard
        .clear
      %div{:style => "clear:both"}
    .jq_proc_1001.alternate.treatment_item{:property => "availableService", :relct => "91", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_body1
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl21_Treatment1_LiteralName Orthodontist Consultation
        .clear
      %div{:style => "clear:both"}
    %span.jq_heading_823.catagory
      %span Ear Nose and Throat
    .jq_proc_157.treatment_item{:property => "availableService", :relct => "823", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_panel
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl22_Treatment1_LiteralName Ear Infection Treatment
        .clear
      %div{:style => "clear:both"}
    .jq_proc_824.alternate.treatment_item{:property => "availableService", :relct => "823", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_body
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl23_Treatment1_LiteralName ENT Specialist Consultation
        .clear
      %div{:style => "clear:both"}
    .jq_proc_1392.treatment_item{:property => "availableService", :relct => "823", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_body
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl24_Treatment1_LiteralName Hearing Test
        .clear
      %div{:style => "clear:both"}
    .jq_proc_350.alternate.treatment_item{:property => "availableService", :relct => "823", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_body1
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl25_Treatment1_LiteralName Sleep Apnea
        .clear
      %div{:style => "clear:both"}
    %span.jq_heading_1020.catagory
      %span Psychology
    .jq_proc_1010.treatment_item{:property => "availableService", :relct => "1020", :typeof => "MedicalProcedure"}
      .treatment_price
        %span.price  
      .treatment_panel
        %span{:property => "name"}
          %span#priceTab_treatmentListing_ctl26_Treatment1_LiteralName Psychologist Consultation
        .clear
      %div{:style => "clear:both"}
  .panel_wrapper{:style => "padding:20px;"}
    #priceTab_imgClinic.image_holder
      %img{:height => "126px", :src => "http://cdn.whatclinic.com/clinics/thumbnails/stockpictures/0445cf22c4943be8/19-search.jpg", :width => "126px"}/
    #priceTab_divClinic_services.payment_info
      %span.jq_heading_1.catagory1
        %span Payment Information
      .BW_inner_content
        #priceTab_treatmentprice.treatment_priceText{:style => "display:none"}
        .treatment_services{:property => "paymentAccepted"}
          %span.icon_span
            %span.icon_checked>
            Cheques
          %span.icon_span
            %span.icon_checked>
            Credit cards
    #priceTab_divInsurance.insurance_accepted
      %span.jq_heading_1.catagory1
        %span Insurance
      .treatment_services
        %span.icon_span
          %span.icon_checked
          %p Private Patients Welcome
        %span.icon_span
          %span.icon_checked
          %p Dental Plans Accepted - Paperwork to be provided by patients
    .clear