.main-content-left
	.page-content.review{:style => "margin-left: 0px; padding-bottom:25px"}
		.overview-wrapper
			.section-bottom
				.category.qa-q-item-tags#logo-wrapper
					.catname
						Validated
					.category-arrow  
				.tags-list-about#set-margin
					%span.tags1_2.set-fonts
						%a{:href => "/tags/technology"} User1
					%span.tags1_2.set-fonts
						%a{:href => "/tags/business"} User2
					%span.tags1_2.set-fonts
						%a{:href => "/tags/science"} User3
					%br