@charset "utf-8";
/******************************************************
	FRAMEWORK THE BASIC
******************************************************/

em{font-style: italic;}

table{border-collapse: collapse; border-spacing: 0px; width: 100%;}
td {vertical-align: top;}
ol li{list-style-position:inside; list-style-type:decimal;}
caption, th{text-align: left;}
q:before, q:after{content: '';}
abbr, acronym {font-variant: normal;}
sup {vertical-align: text-top; }
sub {vertical-align: text-bottom; }
label {cursor: pointer;}
input, textarea, select {font-family: inherit; font-size: inherit; font-weight: inherit;}
#obj1 input, #obj input {border: 1px solid #939598;
    border-radius: 3px 3px 3px 3px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: 25px;
	position: relative;
	bottom:-3px;}
ul .email{
    margin-top: 20px;
	color: #000000;
    font-family: Arial;
    font-size: 13px;}
ul .email1{margin-top: 5px;
}
.email1 input{width: 260px !important;}
legend {color: #000;}
.email label {margin: 0 155px 0 -15px;
    }
.password label {margin: 0 126px 0 -15px;}
label {margin:0 0 0 3px;}
img {border: 0px;}
li{list-style:none;}
/***  FOR ALL  ***/
.cb {
	clear:both !important; 
	height:0 !important; 
	margin:0 !important; 
	padding:0 !important; 
	overflow:hidden !important; 
	line-height:0 !important; 
	font-size:0 !important;
}
.signs{background:url(sig_in.png) 0 0 no-repeat;
width:75px;
height:30px;
margin-top: 32px}
.signs1{background: url("sig_in.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 30px;
    margin-right: 65px;
    margin-top: 20px;
    width: 75px;}
.signs1 a{font-size:15px;
		font-family:Calibri;
		color:#fff;
		position: relative;
		text-decoration: none;
    top: 5px;}
.signs1 a:hover{
		color:#000;
}
.signs2{background: none repeat scroll 0 0 #B0B0B0;
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 30px;
    margin-left: 23px;
    margin-top: 20px;
    width: 75px;}
.signs2 a{font-size:15px;
		font-family:Calibri;
		color:#fff;
		position: relative;
		text-decoration: none;
    top: 5px;}
.signs2 a:hover{
		color:#000;
}
.email{margin-left:0px;}
.signs a{font-size:15px;
		font-family:Calibri;
		color:#fff;
		position: relative;
		text-decoration: none;
    top: 5px;}
.signs a:hover{
		color:#000;
}
.fyp{color: #0075CE;
    float: right;
    font-family: Arial;
    font-size: 11px;
    left: 100px;
    position: absolute;
    top: 150px;}
.chek{color: #0075CE;
    font-size: 11px;
    left: 39px;
    padding-top: 17px;
    position: absolute;}
input[type="checkbox"]{
  margin-left: -182px;
    margin-top: 10px;
}
.checkbox input[type="checkbox"]{
  margin-left: 0px;
    margin-top: 0px;
}
.checkbox1 input[type="checkbox"]{
  margin-left: 0px;
    margin-top: 0px;
}
.sgn{color: #000000;
    font-size: 13px;
    margin-left: -26px;
    margin-top: 10px;}
.sgn a{color: #0075CE;text-decoration: none;}
.sgn a:hover{text-decoration: underline !important;}
/******************************************************
	TEMPLATE
******************************************************/
html, body {
	width: 100%;
	padding:0;
	margin:0;
	font:12px Arial, Helvetica, sans-serif;
	color:#333;
	background:#fff;
	position:relative;
}
.wrapper1{}

#win{
	position:absolute; 
	z-index:2000; 
	top:0;
	left:0;
	background:url(win.png); 
	display:none;
	height:100%;
	width:100%;
}
#obj, #obj1, #obj2, #obj3{
	background: none repeat scroll 0 0 #FFFFFF;
    height: 247px;
    left: 546px !important;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 75px !important;
    width: 414px;
    z-index: 3000;
}
#obj1{
	background: none repeat scroll 0 0 #FFFFFF;
    height: 375px;
    left: 595px !important;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 70px !important;
    width: 250px;
    z-index: 3000;
}
#obj2{
background: none repeat scroll 0 0 #FFFFFF;
    height: 191px;
	margin-left:11px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 40px !important;
    width: 131px;
    z-index: 3000;
}
#obj3{
background: none repeat scroll 0 0 #FFFFFF;
    height: 166px;
    left: 712px !important;
    line-height: 23px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 83px !important;
    width: 132px;
    z-index: 3000;
}
#cancel2{
	display:block; 
	float:right; 
	width:132px; 
	height:11px; 
	background:url(q_close.png) no-repeat; 
	cursor:pointer;
	position:absolute;
	top: -7px;
	
}
#cancel4{
	display:block; 
	float:right; 
	width:132px; 
	height:11px; 
	background:url(q_close.png) no-repeat; 
	cursor:pointer;
	position:absolute;
	top: -7px;
	
}

#trigg4{margin-left: 10px;}
#cancel1{
	display:block; 
	float:right; 
	width:250px; 
	height:15px; 
	background:url(popup_header1.png) no-repeat; 
	cursor:pointer;
	position:absolute;
	top: -6px;
	
}
#cancel1_1{
	bottom: 10px;
    color: #0075CE;
    display: block;
    position: absolute;
    right: 20px;

	
}
#cancel{
	display:block; 
	float:right; 
	width:414px; 
	height:15px; 
	background:url(popup_header.png) no-repeat; 
	cursor:pointer;
	position:absolute;
	top: -6px;
	
}
#cancel3{
	background: url("popup_header4.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 15px;
    position: absolute;
    top: -9px;
    width: 133px;
	
}

.sample{padding:20px;}