.full-align-style{
	text-align:justify;
}
.sidebar-new {
    color: #777777;
    float: left;
    font-size: 12px;
    margin-left: 75px;
    margin-right: 10px;
    margin-top: 18px;
    width: 250px;
}
.sidebar-new .widget-wrapper {background:#FFF;border:1px solid #E0E0E0;margin-bottom:20px;-moz-border-radius: 3px;border-radius: 3px;}
.sidebar-new .widget {border:0px solid #FFF;}
.sidebar-new .widget .section-wrapper {border-left:none;border-right:none;border-top:none;}
.sidebar-new .widget .section-wrapper {border-left:none;border-right:none;border-top:none;}
.post-loop .category {
    font-family: BebasNeueRegular,Arial,Sans-Serif;
    font-size: 0.9em;
}