.full-align-style{
	text-align:justify;
}
.sidebar-new {
		color: #777777;
		float: left;
		font-size: 12px;
		margin-left: 80px;
		margin-right: 10px;
		margin-top: 18px;
		width: 250px;
}
.sidebar-new .widget-wrapper {background:#FFF;border:1px solid #E0E0E0;margin-bottom:20px;-moz-border-radius: 3px;border-radius: 3px;}
.sidebar-new .widget {border:0px solid #FFF;}
.sidebar-new .widget .section-wrapper {border-left:none;border-right:none;border-top:none;}
.sidebar-new .widget .section-wrapper {border-left:none;border-right:none;border-top:none;}
.post-loop .category {
		font-family: BebasNeueRegular,Arial,Sans-Serif;
		font-size: 0.9em;
}
/*questions display css*/
.qa-q-list-item {
		padding: 5px;
		color: #2F313F;
}
.qa-q-item-stats {
		float: left;
}
.qa-voting {
		background: none repeat scroll 0 0 #E2EEF4;
		border: 1px solid #C5D6DF;
		float: left;
		height: 60px;
		margin-right: 5px;
		padding: 0;
		width: 60px;
}
.qa-vote-buttons {
		float: left;
		height: 60px;
		overflow: hidden;
		position: relative;
		width: 16px;
}
.qa-netvote-count {
		display: block;
		text-align: center;
}
.qa-netvote-count-data {
		display: block;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		margin-top: 10px;
		overflow: hidden;
}
.qa-a-count {
		background: none repeat scroll 0 0 #EAFFF4;
		border: 1px solid #C1DAA6;
		float: left;
		height: 60px;
		margin-right: 5px;
		padding: 0;
		text-align: center;
		width: 60px;
}
.qa-a-count-data {
		display: block;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		margin-top: 10px;
}
.qa-a-count-pad {
		font-size: 11px;
}
.qa-view-count {
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #DDDDDD;
		float: left;
		height: 60px;
		margin-right: 5px;
		overflow: hidden;
		padding: 0;
		text-align: center;
		width: 60px;
}
.qa-view-count-data {
		display: block;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		margin-top: 10px;
}
.qa-q-item-main {
		padding-left: 10px;
		width: 620px;
}
.qa-q-item-title {
		color: #000000;
		font-size: 13px;
}
.qa-body-wrapper a:link, .qa-body-wrapper a:visited {
		color: #006699;
		text-decoration: none;
}
.qa-q-item-title a {
	color: #004470;
		font-family: Arial,Helvetica,sans-serif;
		font-weight: 700;
		line-height: normal;
}
.qa-q-item-avatar-meta {
		margin: 10px 0 0;
}
.qa-q-item-meta {
		float: left;
		font-family: arial;
		font-size: 12px;
		line-height: 20px;
		position: relative;
		text-align: justify;
		vertical-align: middle;
		word-wrap: break-word;
		padding-bottom: 10px;
}
.back-class-exp {
		background-color: #FFFFFF;
		border: 1px solid #E0E0E0;
		border-radius: 3px 3px 3px 3px;
		margin-left: 10px;
		width: 685px;
}
.qa-q-list {
		margin-left: -20px;
}
.qa-q-item-tags {
		margin-top: 20px !important;
}
.tags-adj{
	margin-right: 10px;
}
.title-adj{
		margin: -10px 0 5px !important;
}
.tags2.tags-experimental{
		margin-left: 145px !important;
		margin-top: -20px;
}
.section-width {
	width :678px !important;
}
.qa-vote-up-button, .qa-vote-up-hover, .qa-vote-up-disabled {
		background: url(images/vote-buttons.png) no-repeat scroll 0 0 transparent !important;
		border: 0 none !important;
		color: #F1C96B !important;
		font-size: 1px !important;
		height: 20px !important;
		width: 16px !important;
		display: inline-block !important; 
}
.qa-vote-second-button {
		bottom: 6px;
		left: 2px;
		position: absolute;
}
.qa-vote-first-button {
		left: 2px;
		position: absolute;
		top: 6px;
}
.qa-vote-up-button, .qa-vote-up-hover, .qa-vote-down-button, .qa-vote-down-hover, .qa-vote-one-button {
	text-indent: 9999px;
}
.qa-body-wrapper input[type="submit"] {
		cursor: pointer;
}
.qa-vote-down-button, .qa-vote-down-hover, .qa-vote-down-disabled {
		background: url(images/vote-buttons.png) no-repeat scroll 0 0 transparent !important;
		border: 0 none !important;
		color: #F1C96B !important;
		font-size: 1px !important;
		height: 20px !important;
		width: 16px !important;
}
.qa-vote-down-disabled {
		background-position: -16px -80px !important;
		color: #CCCCCC;
}
/*questions display css*/ 

.margin-top{
	margin-top: 10px;
}
.search-bar {
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background: none repeat scroll 0 0 #FFFFFF;
		border-color: #DFDFDF -moz-use-text-color #DFDFDF #DFDFDF;
		border-image: none;
		border-radius: 4px 4px 4px 4px;
		border-style: solid none solid solid;
		border-width: 1px;
		float: left;
		height: 28px;
		overflow: hidden;
		padding: 0 0 0 4px;
		width: 624px;
}
.search-bar > input {
		border: medium none;
		height: 22px;
		margin-left: -5px;
		width: 620px;
}
.textarea-class {
		border: medium none;
		border-radius: 4px 4px 4px 4px;
		width: 628px;
}

.search3 {
		color: #A5C8EA;
		display: inline-block;
		font-size: 12px;
		line-height: 16px;
		padding-left: 25px;
		z-index: 999;
		width: 675px;
}

.set-question{
	margin-bottom: -20px !important;
}


/*input form styles*/
form.exp-contact-form{
		input.input-class{
				width:625px; 
				height:30px; 
				border:1px solid #E0E0E0;
				font-size: 14px;
				color:#666666;
				padding-left:5px; 
		}
		
	 textarea{
				border:1px solid #E0E0E0;
				font-size: 14px;
				color:#666666;  
	 }
	 textarea.error{

				border:1px dashed #FF6317;
		}
		select.select-class{
				border:1px solid #E0E0E0;
				font-size: 14px;
				color:#666666;
				width:625px;
				background-color:#fff;
				height:30px;
				padding-top:3px;
				/*appearance:none !important;*/
				/*-moz-appearance:none !important; /* Firefox */
				/*-webkit-appearance:none !important; /* Safari and Chrome */
				/*background-image:url("images/DropArrow.gif") no-repeat right center;   */
	 }
	 label.error{

			 color:#FF6317;
			 font-weight:bold;
		}
		input.error{
			border:1px dashed #FF6317;
		}
	 .label{
				/*font-size:13px;*/
				font-family: BebasNeueRegular,arial,sans-serif !important;
				/*font-weight:bold;*/
				font-size: 1.4em;
				color:#444444;
	 }
	 button{
		/*background-color: #385F79;*/
		background: -moz-linear-gradient(top, #457798, #385F79);
		background: -webkit-linear-gradient(top,#457798, #385F79);
					 
		padding:10px 20px 10px 20px;
		font-family: BebasNeueRegular,arial,sans-serif !important;
		color:#fff;
	 }
	 a.submit-button{ /*background-color: #385F79;*/
		background: -moz-linear-gradient(top, #457798, #385F79);
		background: -webkit-linear-gradient(top,#457798, #385F79);
					 
		padding:10px 20px 10px 20px;
		font-family: BebasNeueRegular,arial,sans-serif !important;
		color:#fff;
	 }
	 button:hover,a.submit-button:hover{
		background: -moz-linear-gradient(bottom, #457798, #385F79);
		background: -webkit-linear-gradient(bottom,#457798, #385F79);
	 }
	 iframe{
				border:1px solid #E0E0E0;
				background-color:#fff;
	 }
	 
 
}
/*flash messages*/
#flash_notice,
#flash_error,
#flash_alert {
	padding: 7px 8px 7px 25px;
	margin: 10px 0;
	font-size: 14px;
}

#flash_notice {
	/*background-color: #CFC;*/
	/*border: solid 1px #6C6;*/
	/*color: #0AAD4B;*/
/*	background-image:url("images/positive-check.png");
	background-repeat: no-repeat;
	background-position: top 2px left 5px;*/
	background: #d7e866; /* Old browsers */
	background: -moz-linear-gradient(top, #d7e866 0%, #b4ea46 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7e866), color-stop(100%,#b4ea46)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d7e866 0%,#b4ea46 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d7e866 0%,#b4ea46 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d7e866 0%,#b4ea46 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d7e866 0%,#b4ea46 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e866', endColorstr='#b4ea46',GradientType=0 ); /* IE6-9 */
	border: 1px solid #C0D554;
	border-radius: 3px 3px 3px 3px;
	display: block;
	font-size: 12px;
	font-weight: normal;
	margin-top: 3px;
	padding: 10px 15px;
	text-decoration: none;
}

#flash_error,
#flash_alert {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) repeat scroll 0 0 #FFEAA6;
		border: 1px solid #D55353;
		border-radius: 3px 3px 3px 3px;
		font-weight: normal;
		margin-top: 3px;
		text-decoration: none;
		background-color:#C00000;
		padding :10px 15px;
		font-size:12px !important;
}

/*
#notice {
	color: green;
}*/

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #c00;
	color: #fff;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}
.tabs-shortcode .tabdiv-exp {padding: 15px 0 5px;}
.tabdiv-exp ul {margin-bottom:0px;}
.head-left {margin-left:20px !important;}
.review .overview .excerpt-new{font-size: 12px; padding: 15px 15px 5px;}
.excerpt-new1 h1 {
		background: none repeat scroll 0 0 transparent !important;
		border: medium none !important;
		padding: 0 !important;
}
/*password strength*/
#passwordStrength
{
		height:10px;
		display:block;
		float:left;
}

.strength0
{
		width:250px;
		background:#cccccc;
}

.strength1
{
		width:50px;
		background:#ff0000;
}

.strength2
{
		width:100px;    
		background:#ff5f5f;
}

.strength3
{
		width:150px;
		background:#56e500;
}

.strength4
{
		background:#4dcd00;
		width:200px;
}

.strength5
{
		background:#399800;
		width:250px;
}
.tag-list li, .tag-list span.tag {
		display: inline;
		float: left;
		height: 25px;
}
.extra-buttons{
		/*background-image:url("images/aside-bg.jpg");*/
		background-color:#5B5B5E; 
		color:#fff !important;
		font-weight:bold;
		border-radius: 4px;
		padding:5px 10px 5px 10px; 
}
.extra-buttons:hover{
		color:#DDDDDD !important; 
}
.add-a-new-tag .each .tools{
		float: right;
		margin-right: 15px;
		margin-top: -40px;
}
.page-content .content-panel ul.social-provider-list li a.facebook {
		background: url("/assets/share/facebook.png") no-repeat scroll 0 0 transparent;
}
.page-content .content-panel ul.social-provider-list li a.twitter {
		background: url("/assets/share/twitter-fdd685039fe95c8e0a4ebce4911b5f29.png") no-repeat scroll 0 0 transparent;
}
.page-content .content-panel ul.social-provider-list li a.linkedin {
		background: url("/assets/share/linkedin-cfb3552a8f88da8c590598a8783861bf.png") no-repeat scroll 0 0 transparent;
}
.page-content .content-panel ul.social-provider-list li a.identica {
		background: url("/assets/share/identi-0e65cdc491e3a07036171310b0763aa9.png") no-repeat scroll 0 0 transparent;
}
.page-content .content-panel ul.social-provider-list {
		margin: 0 0 30px 30px;
		overflow: hidden;
}
.page-content .content-panel ul.social-provider-list li {
		display: inline;
		height: 24px;
		width: 24px;
}
.page-content .content-panel ul.social-provider-list li a {
		border: medium none;
		display: block;
		float: left;
		height: 24px;
		margin: 0 5px 0 0;
		overflow: hidden;
		padding: 0 !important;
		text-indent: -9999px;
		width: 24px;
}
.microcontent-wrapper > img {
	height: 400px;
	width: 500px;
}

.tabs-shortcode1{
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	margin-bottom: 80px;
}
ul.tabnav1{
	background: none repeat scroll 0 0 #FAFAFA;
	border-bottom: 1px solid #DFDFDF;
	float: left;
	padding: 0;
	width: 81%;
}

.tabnav1 > li {
		float: left;
		margin-left: 55px;
}
.tabnav1:first-child {
		margin-left: 15px;
}
ul.tabbernav1 {
		float: left;
		height: 24px;
		margin: 0 5px 0 0;
		overflow: hidden;
		padding: 0 !important;
		text-indent: -9999px;
		width: 24px;
}

#div-load{
		width:100%; 
		z-index:1000; 
		height:100%; 
		background-color: rgb(119, 119, 119); opacity: 0.7;
		position:fixed; 

}
#div-another-image{
		width:100%; 
		z-index:1001; 
		height:100%; 
		background-image:url('images/loader.gif');
		opacity: 0.6;
		background-position:center center; 
		background-repeat:no-repeat; 
		position:fixed; 

}


		
.tabbernav1 > li {
		float: left;
		margin-left: 10px;
}


.options-exp{
		margin: 35px 0 0 0 !important;
}
.new-exp-link{
		display: inline;
}
.overview-new > li {
	list-style: none outside none;
}
.review .overview-new .summary1 {
		background: none !important;
		border: none;
		border-radius: 8px 8px 8px 8px;
		color: #00000;
		margin-left: 13px;
		margin-top: 20px;
		width: 235px;
}

input.error{
	border:1px dashed #FF6317;
}
label.error{
	color:#FF6317;
	font-weight:bold;
}
.review .overview .excerpt-new1 {

	font-size: 12px;
	padding: 71px 15px 5px;


}

/*.page-content div.item-list-tabs {
		background: none repeat scroll 0 0 transparent;
		border: 0 none;
		margin: 25px 0 12px;
}
div#subnav.item-list-tabs {
		background: none repeat scroll 0 0 #FFFFFF;
		border-bottom: 1px solid #EAEAEA;
		margin: -19px 0 15px;
		min-height: 35px;
		overflow: hidden;
}
div.item-list-tabs ul li.last {
		float: right;
		margin: 7px 20px 0 0;
		padding-right: 29px;
}*/
div.item-list-tabs ul li.feed a {
		background: url("/assets/experimental/images/rss_activity.png") no-repeat scroll left center transparent;
		padding-left: 20px;
}

.page-content ul.item-list.activity-list li, .page-content ul.item-list li {

		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #E0E0E0;
		border-radius: 6px 6px 6px 6px;
		list-style-type: none;
		margin: 0 0px 10px ;
		padding: 10px;
		

}
.activity-list .activity-content .activity-inner, .activity-list .activity-content blockquote {
		/*margin: 10px 10px 5px 0;*/
		overflow: visible;
		border-left: 2px solid #EAEAEA !important;
			margin-left: 5px !important;
			padding-left: 10px !important;
}
.activity-header a, .comment-meta a, .acomment-meta a {
		text-decoration: none;
}
.activity-inner > p {
		word-wrap: break-word;
		padding-left: 15px
}
/*important style to hide social icon*/
/*#ts_turnsocial_link{
	display:none !important;
}*/
.items-tags-adj{
	margin-left: -35px !important;
}
.items-linked-new{
	background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #E0E0E0; border-radius: 6px 6px 6px 6px; list-style-type: none; margin: 0 0 10px -35px; padding: 10px !important;
}
.head-test-show{
	margin-bottom:-85px;
}
.post-loop .more1 a {
		background: url("images/arrow-right-small.png") no-repeat scroll right 9px transparent;
		color: #999999;
		display: block;
		float: right;
		font-family: BebasNeueRegular,Arial,Sans-Serif;
		font-size: 0.9em;
		margin-right: -7px;
		padding: 8px 11px 0 10px;

}
.ajax-loader{
	background-image: url("images/pre-loader");
		background-position: center center;
		background-repeat: no-repeat;
		float: right;
		height: 23px !important;
		margin-left: 5px;
		width: 15px !important;

}
.contact-button{
		background: -moz-linear-gradient(center top , #FFFFFF 0%, #EDEDED 100%) repeat scroll 0 0 transparent;
		border: 1px solid #CCCCCC;
		border-radius: 3px 3px 3px 3px;
		color: #777777;
		cursor: pointer;
		font: 12px/14px Arial,Tahoma,Verdana,sans-serif;
		outline: medium none;
		padding: 4px 10px;
		text-align: center;
		text-decoration: none;
		margin-left :5px;
}
.contact-section-bottom {
		background-color: #FFFFFF;
			border: 1px solid #E0E0E0;
			height: 38px;
			margin: -16px 0 -1px;
			padding-left: 475px;
			padding-top: 15px;
}
.contact-button-single{
		float: right;
			margin-right: 20px;
}
.recent_tag{
		color: #E47911;
		display: inline;
		font-size: 18px;
		font-weight: normal;
}
.list-show-widget{
	list-style:disc;
}
.page-content.review.search-adj {
		margin-right: 25px;
}
.head-test-show .single-post .section {
		color: #999999;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 11px;
		text-transform: none;
}
.review .overview1 {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: -moz-use-text-color #E0E0E0 #E0E0E0;
	border-image: none;
	border-width: 0 1px 1px;
	color: #444444;
	margin-bottom: 15px;
	padding-top: 20px;
	position: relative;
}

.review .overview1 .excerpt-new {

	font-size: 12px;
	padding: 0px 15px 5px;
}

#slider22 > li > ul > li{
	border-bottom: 1px solid #D0D3D6;
	margin-bottom: none;
	padding:none;
}
.ps2{
	color:#000000;
	width:466px;
}
.fright1{
	float:left;
	width:515px;
}

.page{
	margin-top:0px !important;
}

.activity_sub{
	display:none
}

form.exp-contact-form select.select-class1 {
		background-color: #FFFFFF;
		border: 1px solid #E0E0E0;
		color: #666666;
		font-size: 14px;
		height: 30px;
		padding-top: 3px;
		width: 605px;
}

form.exp-contact-form input.input-class1 {
		border: 1px solid #E0E0E0;
		color: #666666;
		font-size: 14px;
		height: 30px;
		padding-left: 5px;
		width: 600px;
}
.msg-alert {
	margin-left: 978px;
	margin-top: 7px;
	position: absolute;
	color: #000000 !important;
}
/*css for hiding top bar of google translator*/
.goog-te-banner-frame.skiptranslate {display: none !important;} 
body { top: 0px !important; }

.section-bottom1{
	padding-left:15px
}

.panel-link-comment1 {
		margin-bottom: 10px;
		margin-top: -60px;
		padding-left: 10px !important;
}
.services-top-adj{
		margin-top: -55px;
}

.bg2_1, #page4 .bg2_1 {
		background: url("../plus/bg2_1.png") no-repeat scroll 0 0 transparent;
		min-height: 80px;
		position: relative;
		top: 0px;
}

form#search button {
		background: url("../plus/searchButton.jpg") no-repeat scroll 0 0 transparent;
		border: 2px none;
		padding-bottom: 15px;
		position: absolute;
		right: 30px;
		text-indent: -99999px;
		top: 16px;
		width: 53px;
}
form#search {
		color: #A5C8EA;
		display: inline-block;
		font-size: 12px;
		line-height: 16px;
		padding-left: 25px;
		padding-top: 10px;
		position: relative;
}
form#search input[value="What is your question?"] {
		color: #000000;
		font-family: Calibri;
		font-size: 18px;
		min-height: 19px;
		border: none;
}
form#search input {
		background: none repeat scroll 0 0 #FFFFFF;
		border-radius: 5px 5px 5px 5px;
		display: inline-block;
		float: left;
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 1px;
		min-height: 12px;
		overflow: hidden;
		padding: 10px 0 10px 7px;
		width: 600px;
}
.search-btn {
		cursor: pointer;
}

.search-tag{
	margin-right: 20px;
}


#search-container {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	color: #71706D;
	display: none;
	font-size: 18px;
	left: 275px;
	position: absolute;
	top: 287px;
	width: 606px;
	z-index: 100000;
}
.survey.current_page_parent {
		margin-left: -50px;
		margin-top: -30px;
		
}

.a6{
	margin-left:-15px;
	float:left;
}

.answer-page {
		margin-left: -15px;
}

.activity-content.width{
	float:left;
	margin-bottom:15px;
	margin-left:90px;

}
.set-height{
	line-height:22px;
}

#set-width{
	width:90% !important;
}

#toTop{
	z-index:100;
}

.item-list-tabs.activity-type-tabs {
	margin-top: 70px !important;
}

#enter-comment{
	margin: 0px; 
	height:30px;
	width: 82%;
}

.contact-section-bottom-button {
		background-color: #FFFFFF;
		border: 1px solid #E0E0E0;
		margin: -16px 0 -1px;
		overflow:auto;
		padding-top: 15px;
		height:35px !important;
}

#align{
	float:right;
}

#footer-button{
	margin-top: 30px;
}

#shift-left{
	margin-left:15px;
}

#weight-font{
	font-weight:600;
}


.item-meta.fn.login-profile-box{
	word-wrap: break-word;
	font-size: 14px;
}

#set-margin{
	margin-top: 20px !important;
}
#hr-shades-end{
	background-color:#F4F4F4;
	height: 8px;
	border: none;
}
.bbp-reply-author img {
		margin-top: 10px;
	}
#set-page{
	margin-top:-50px !important;
}
/*breadcrumb css starts here*/
.bread-crumb {
	border:1px solid #E0E0E0;
	background:url(images/cat-menu-bg.png) repeat-x scroll 0 0 #3E3E40;
}
.bread-crumb-section {
	padding:10px 10px 8px 15px;
	color:#333;
	text-transform:uppercase;
	font-size:18px;
}
.bread-crumb-header {
		color: #A8A2BD;
		font-family: BebasNeueRegular,Arial,Sans-Serif !important;
		font-size: 18px !important;
		text-transform: uppercase !important;
}
.bread-crumb-header > a:hover {
		background-color: none;
}
.bread-crumb-header > a {
		color:#DF1515 !important;
}
.bread-crumb-header > a:last-of-type {
		color: #FFFFFF !important;
}
/*breadcrumb css ends here*/

.loader-adjust{
	min-width: 125px;
	display: inline-block;
}
.badge_item > h2 {
		color: #3587BA;
}
.tags1_2_3 {
	background: url("images/tags1_1.jpg") repeat-x scroll 0 0 transparent;
		border: 1px solid #AAB9BF;
		border-radius: 2px 2px 2px 2px;
		margin-left: 5px;
		margin-top: 7px;
		padding: 1px 6px;
		font-weight: normal;

	float:left;
	line-height: 18px;
}
.show-inline{
	display:inline !important;	
}
.loader-adjust-ques{
	min-width: 140px;
	display: inline-block;
}
.loader-adjust-set{
	min-width: 102px;
	display: inline-block;
}
.loader-adjust-profile{
	min-width: 70px;
	display: inline-block;
}

/*badges show awarded css*/
.box-question {
		padding-right: 500px;
		text-align: center;
}
.box-badge {
		margin-top: -48px;
		padding-right: 320px;
		text-align: center;
}
.box-reputation {
		margin-top: -54px;
		padding-right: 135px;
		text-align: center;
}
.box-margin {
		margin-left: -10px !important;
}
.user-info-awarded {
		background: none repeat scroll 0 0 #AEC0DB;
		border: 1px solid #9EADD6;
		border-radius: 4px 4px 4px 4px;
		margin-left: 350px;
		margin-top: -62px;
		padding: 5px;
}
.counter-data {
		margin-left: 39px;
		margin-top: -42px;
}
.counter-info {
		font-size: 14px;
}
.box-question .counter, .box-badge .counter, .box-reputation .counter, .box-question .text, .box-badge .text, .box-reputation .text{
	font-family: BebasNeueRegular,Arial,Sans-Serif;
	font-size: 14px;
	color: #3587BA;
}


/*Badge Comment CSS*/
.nested_messages {
		padding-left: 35px;
}
#badge_comment_message {
		background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
		border-radius: 4px 4px 4px 4px;
		box-shadow: 0 0 0 2px rgba(16, 48, 68, 0.2) inset;
		margin: 0 0 0 60px;
		padding: 2px;
		position: relative;
		height: 40px;
}

.comment-count-font{
	font-size: 18px !important;
	font-weight: 600 !important;
	line-height: 1.2 !important;
	font-family: 'Liberation Sans' !important;
}
.set-hr-margin{
	margin-top:40px !important;
	margin-bottom:10px !important;
}

.submit-comment{
	float:right !important;
	margin-top: -15px !important;
}

.badge-input-comment{
	float:left !important;
	margin:-55px 0 11px 70px !important;
	width:88% !important;
}

.badge-comment-content{
	margin-left: 65px;
	margin-top: -65px;
}

#badge-action{
	float: left;
	margin-left: 71px;
	margin-top: 0px;
}

#set-bottom-badge{
	color: #96939B;
	font-weight: bold;
	margin:10px 0px 10px 10px;
}

.fontSize{
	font-size: 20px !important;
}

.td-question > div, .ul{
	width:460px;
	word-wrap: break-word;
}

/*question show page*/
#set-margin > span{
	word-wrap: break-word ;
}
/*sign-up link*/
#close-box{
	cursor: pointer;
		height: 34px;
		position: absolute;
		right: -4px;
		top: -4px;
		width: 34px;
}
.reveal-modal.show-box{
	height:100px;
	width:279px;
	left:60% ;
}

.tabdiv.ui-tabs-panel.tab-plus {
    margin-left: -32px;
    margin-top: -20px;
}
.search_textbox_height{
	height: 20px;
}
.tag_bottom_search{
	width:624px !important;
}
/*Font for language selector in social bar*/
.goog-te-menu-value > span{
	font-family: arial !important;
	color: blue !important;
}
#your-answers{
	margin-top: -95px !important;
}
/*For Your Answer */
.textarea-wrapper{
	border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 0 2px rgba(16, 48, 68, 0.2) inset;
  margin: -40px 0 0 63px;
  padding: 2px;
  position: relative;
  width: 88% !important;
}
.textarea-wrapper .textarea{
	border: 0 none;
  color: #3F4549;
  cursor: text;
  display: block;
  font-family: "Helvetica Neue",helvetica,arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 1.4;
  margin: 0;
  min-height: 36px; 
  padding: 6px 10px 8px;
  resize: none;
  transition: all 0.15s ease-in-out 0s;
  width: 96%;
}

.textarea-wrapper .textarea:focus {
	outline: 0;
}

.post-actions{
	background: none repeat scroll 0 0 #F6F8F9;
	display: none;
}

/*For country-Select */
.select-text-adj > select{
	width:100%;
}

.set-box{
	width:15% !important;
	font-size: 12px !important;
}

.set-box-phone{
	width:30% !important;
	font-size: 12px !important;
}
.set-comments{
	background-color: #EDEFF4
}

.set-left {
    margin-left: 34px;
}

.set-comments-show{
	margin-top:-29px;
	margin-left:40px;
	word-wrap: break-word;
}

.set-topper{
	margin-top:-2px !important;
}

.set-comment-area{
	width:526px !important;
}

.rating-news{
	float: right;
}

.set-fonts a{
	font-size: 13px !important;
	font-weight: 600 !important;
}

#set-top {
	margin-top: -25px;
}

.set-padding{
	padding-bottom:20px !important;
}
	
.comments-rss-show {
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    margin-top: -8px;
    padding-right: 10px;
    text-align: justify;
}

.comments-rss-header {
    margin-top: -20px !important;
}