%script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyBmJE9KrYdmPiW16lAHDJOiCvS1Fwen7BU&sensor=true"}
:javascript
  var map;
  var lat = #{@contact.latitude};
  var long = #{@contact.longitude};
  var contact_address = new google.maps.LatLng(lat,long);
  
  function initialize() {
    var mapOptions = {
      zoom: 15,
      center: contact_address,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    
    map = new google.maps.Map(document.getElementById('map_canvas'),mapOptions);
    
    var coordInfoWindow = new google.maps.InfoWindow();
    coordInfoWindow.setContent(createInfoWindowContent());
    coordInfoWindow.setPosition(contact_address);
    coordInfoWindow.open(map);
    
    google.maps.event.addListener(map, 'zoom_changed', function() {
      coordInfoWindow.setContent(createInfoWindowContent());
      coordInfoWindow.open(map);
    });
    
  }
  
  function createInfoWindowContent() {
    return [
      'Webmaster',
      '#{@contact.street_address_safe}',
      'webmaster@email.com',
      '+65 1234 5678'
    ].join('<br>');
  }
  
  google.maps.event.addDomListener(window, 'load', initialize);

.top
  %h1{:style => "float: none !important;"}
    Contact Us
  #map_canvas{:style => "width: 100% !important;"}

    
  

