
%h2.title
  =t(".reputation_rewards_subtitle")

%p
  =t(".reputation_rewards_description")

= render :partial => "groups/reputation_rewards_form", :object => f
.form-row.row-fluid
  .span12
    .row-fluid
      .form-actions{:style => "width: 100% !important; margin-left: -10px !important; margin-bottom: -18px !important"}
        .span9
          &nbsp;
        .span3.controls
          = f.button "Save Changes", :class =>"btn marginR10", :style => "padding: 4px 10px !important; border-width: 1px !important; border-style: solid !important"
          = link_to "Cancel", admin_dashboard_path, :class => "btn btn-danger", :style => "padding: 5px 10px !important; border-width: 1px !important; border-style: solid !important"