.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
  .page-content.review.single-post
    %link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
    .review-content
      .ribbon-shadow-left
      .section-wrapper
        .section-header
          .comment-bubble
            #{image_tag("experimental/images/comment-tiny.png")} 0
          Frequently Asked Questions
          
      .section-arrow
      / post by removed from here
      .content-panel
        .the-content
          .toggle-box-wrapper
            .toggle-box
              %h3.toggle How to setup your front page
              .toggle-content{:style => "display: none;"}
                Fusce semper dapibus risus, mollis eleifend turpis feugiat vitae. Sed eget lacus sit amet lacus convallis tempus. Donec tempus pretium aliquam. Aenean posuere, dui sed lacinia commodo, quam leo viverra odio, et congue sem nibh et ipsum. Suspendisse potenti. Integer adipiscing sodales eros a facilisis. Etiam eros lectus, fringilla ac porta non, tincidunt ultrices augue. Pellentesque tempus elementum leo, a pellentesque tellus sodales id. Ut auctor congue accumsan. Proin ultricies eros eu ipsum ultricies commodo. Vestibulum imperdiet, mi ac placerat hendrerit, orci leo facilisis dui, a imperdiet neque massa quis lorem.
          .toggle-box-wrapper
            .toggle-box
              %h3.toggle How to create review types and write reviews part 1
              .toggle-content{:style => "display: none;"}
                Fusce semper dapibus risus, mollis eleifend turpis feugiat vitae. Sed eget lacus sit amet lacus convallis tempus. Donec tempus pretium aliquam. Aenean posuere, dui sed lacinia commodo, quam leo viverra odio, et congue sem nibh et ipsum. Suspendisse potenti. Integer adipiscing sodales eros a facilisis. Etiam eros lectus, fringilla ac porta non, tincidunt ultrices augue. Pellentesque tempus elementum leo, a pellentesque tellus sodales id. Ut auctor congue accumsan. Proin ultricies eros eu ipsum ultricies commodo. Vestibulum imperdiet, mi ac placerat hendrerit, orci leo facilisis dui, a imperdiet neque massa quis lorem.
          .toggle-box-wrapper
            .toggle-box
              %h3.toggle.active How to create review types and write reviews part 2
              .toggle-content{:style => "display: block;"}
                Fusce semper dapibus risus, mollis eleifend turpis feugiat vitae. Sed eget lacus sit amet lacus convallis tempus. Donec tempus pretium aliquam. Aenean posuere, dui sed lacinia commodo, quam leo viverra odio, et congue sem nibh et ipsum. Suspendisse potenti. Integer adipiscing sodales eros a facilisis. Etiam eros lectus, fringilla ac porta non, tincidunt ultrices augue. Pellentesque tempus elementum leo, a pellentesque tellus sodales id. Ut auctor congue accumsan. Proin ultricies eros eu ipsum ultricies commodo. Vestibulum imperdiet, mi ac placerat hendrerit, orci leo facilisis dui, a imperdiet neque massa quis lorem.
          .toggle-box-wrapper
            .toggle-box
              %h3.toggle How to setup non-review posts within your review types
              .toggle-content{:style => "display: none;"}
                Fusce semper dapibus risus, mollis eleifend turpis feugiat vitae. Sed eget lacus sit amet lacus convallis tempus. Donec tempus pretium aliquam. Aenean posuere, dui sed lacinia commodo, quam leo viverra odio, et congue sem nibh et ipsum. Suspendisse potenti. Integer adipiscing sodales eros a facilisis. Etiam eros lectus, fringilla ac porta non, tincidunt ultrices augue. Pellentesque tempus elementum leo, a pellentesque tellus sodales id. Ut auctor congue accumsan. Proin ultricies eros eu ipsum ultricies commodo. Vestibulum imperdiet, mi ac placerat hendrerit, orci leo facilisis dui, a imperdiet neque massa quis lorem.
          =# render :partial => "shared/faq_nav_bar"
.sidebar
  = render "experimental/partials/left_bar"
  =# render "experimental/partials/social_side_bar"
    
