.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section-header
					.comment-bubble
						#{image_tag("experimental/images/comment-tiny.png")} 0
					Frequently Asked Questions
			.section-arrow
			/ post by removed from here
			.content-panel
				.the-content
					.toggle-box-wrapper
						.toggle-box
							%h3.toggle How to setup your front page
							.toggle-content{:style => "display: none;"}
								Fusce semper dapibus risus, mollis eleifend turpis feugiat vitae. Sed eget lacus sit amet lacus convallis tempus. Donec tempus pretium aliquam. Aenean posuere, dui sed lacinia commodo, quam leo viverra odio, et congue sem nibh et ipsum. Suspendisse potenti. Integer adipiscing sodales eros a facilisis. Etiam eros lectus, fringilla ac porta non, tincidunt ultrices augue. Pellentesque tempus elementum leo, a pellentesque tellus sodales id. Ut auctor congue accumsan. Proin ultricies eros eu ipsum ultricies commodo. Vestibulum imperdiet, mi ac placerat hendrerit, orci leo facilisis dui, a imperdiet neque massa quis lorem.
					.toggle-box-wrapper
						.toggle-box
							%h3.toggle How to create review types and write reviews part 1
							.toggle-content{:style => "display: none;"}
								Fusce semper dapibus risus, mollis eleifend turpis feugiat vitae. Sed eget lacus sit amet lacus convallis tempus. Donec tempus pretium aliquam. Aenean posuere, dui sed lacinia commodo, quam leo viverra odio, et congue sem nibh et ipsum. Suspendisse potenti. Integer adipiscing sodales eros a facilisis. Etiam eros lectus, fringilla ac porta non, tincidunt ultrices augue. Pellentesque tempus elementum leo, a pellentesque tellus sodales id. Ut auctor congue accumsan. Proin ultricies eros eu ipsum ultricies commodo. Vestibulum imperdiet, mi ac placerat hendrerit, orci leo facilisis dui, a imperdiet neque massa quis lorem.
					.toggle-box-wrapper
						.toggle-box
							%h3.toggle.active How to create review types and write reviews part 2
							.toggle-content{:style => "display: block;"}
								Fusce semper dapibus risus, mollis eleifend turpis feugiat vitae. Sed eget lacus sit amet lacus convallis tempus. Donec tempus pretium aliquam. Aenean posuere, dui sed lacinia commodo, quam leo viverra odio, et congue sem nibh et ipsum. Suspendisse potenti. Integer adipiscing sodales eros a facilisis. Etiam eros lectus, fringilla ac porta non, tincidunt ultrices augue. Pellentesque tempus elementum leo, a pellentesque tellus sodales id. Ut auctor congue accumsan. Proin ultricies eros eu ipsum ultricies commodo. Vestibulum imperdiet, mi ac placerat hendrerit, orci leo facilisis dui, a imperdiet neque massa quis lorem.
					.toggle-box-wrapper
						.toggle-box
							%h3.toggle How to setup non-review posts within your review types
							.toggle-content{:style => "display: none;"}
								Fusce semper dapibus risus, mollis eleifend turpis feugiat vitae. Sed eget lacus sit amet lacus convallis tempus. Donec tempus pretium aliquam. Aenean posuere, dui sed lacinia commodo, quam leo viverra odio, et congue sem nibh et ipsum. Suspendisse potenti. Integer adipiscing sodales eros a facilisis. Etiam eros lectus, fringilla ac porta non, tincidunt ultrices augue. Pellentesque tempus elementum leo, a pellentesque tellus sodales id. Ut auctor congue accumsan. Proin ultricies eros eu ipsum ultricies commodo. Vestibulum imperdiet, mi ac placerat hendrerit, orci leo facilisis dui, a imperdiet neque massa quis lorem.
					=# render :partial => "shared/faq_nav_bar"
	.page-content.review.single-post
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section
					.comment-bubble
						%a{:href => faq_path(:anchor => "disqus_thread")} Link
					/ making title stronger
					.section-for-header
						Disqus
			.section-arrow
			.overview-wrapper
				.overview-new
					.left-panel
						#disqus_thread
						:javascript
							/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
							var disqus_shortname = 'beingmedev'; // required: replace example with your forum shortname
							/* * * DON'T EDIT BELOW THIS LINE * * */
							(function() { 
								var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
								dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; 
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); 
							})();
						%noscript
							Please enable JavaScript to view the
							%a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus.
						%a.dsq-brlink{href: "http://disqus.com"}
							comments powered by
							%span.logo-disqus Disqus
						:javascript
							var disqus_shortname = 'beingmedev'; // required: replace example with your forum shortname
							// required: replace example with your forum shortname
							(function () {
								var s = document.createElement('script'); s.async = true;
								s.type = 'text/javascript';
								s.src = '//'+disqus_shortname+'.disqus.com/count.js';
								(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
							}());


			/   %iframe#dsq1{:allowtransparency => "true", "data-disqus-uid" => "1", :frameborder => "0", :horizontalscrolling => "no", :role => "complementary", :scrolling => "no", :src => "http://disqus.com/embed/comments/?f=bchange1&t_u=http://localhost.lan:3000/&t_d=&t_t=&s_o=default&disqus_version=1375300265#1", :style => "width: 100%; border: medium none; overflow: hidden; height: 75px;", :verticalscrolling => "no", :width => "100%"}
			/ :javascript
			/   /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			/   var disqus_shortname = 'bchange1'; // required: replace example with your forum shortname

			/   /* * * DON'T EDIT BELOW THIS LINE * * */
			/   (function() {
			/     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			/     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			/     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			/   })();
			/ %noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
			/ :javascript
			/   var disqus_shortname = 'bchange1'; 
			/   // required: replace example with your forum shortname
			/   (function () {
			/     var s = document.createElement('script'); s.async = true;
			/     s.type = 'text/javascript';
			/     s.src = '//'+disqus_shortname+'.disqus.com/count.js';
			/     (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			/   }());
	%br.clearer/  
.sidebar
	= render "experimental/partials/left_bar"
	=# render "experimental/partials/social_side_bar"
		
