!!!
%html
  %head
    %title 
      = yield :title
    / favicon
    %link{:href => "plus/favicon.ico", :rel => "icon"}/

    / CSS
    = stylesheet_link_tag "plus/style"

  %body
    .bg
      .bg2
        / ==============================header=================================
        .modal-box-header
          %ul
            %li.modal-box-header-text
              = "Authentication"
              / = image_tag("plus/logo.jpg")
      %section
        = yield